<!-- Hero Start -->
<section 
    class="bg-half-260 d-table w-100 top-image" 
    style="background: url('assets/images/blog/blog-tecnoria-vigo.jpg')center; background-size: cover; background-attachment: fixed; background-repeat: no-repeat;"
    id="home"
>
    <div class="container">
        <div class="row align-items-center bg-animation-left">
            <div class="col-lg-7 col-md-6 col-12" style="z-index: 1;">
              <div class="title-heading">
                <h6 class="text-dark-50">IT Software & Design</h6>
            <h4 class="title text-dark title-dark ">
                BIENVENIDO A NUESTRO BLOG
            </h4>
          </div>
        </div><!--end col-->
      </div><!--end row-->
  
     
    </div> <!--end container-->
  </section><!--end section-->
  
  <div class="position-relative">
    <div class="shape overflow-hidden text-color-white">
      <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
      </svg>
    </div>
  </div>
  <!-- Hero End -->
  
  <section class="section">
    <div class="container">
      <div class="row">
        <ul class="container-filter list-inline mb-0 filter-options text-center" id="filter">
          <li class="list-inline-item categories-name border text-dark rounded" (click)="activeCategory('all')"
            [ngClass]="{'active': galleryFilter ==='all'}">Todos</li>
          <li class="list-inline-item categories-name border text-dark rounded ms-2" (click)="activeCategory('diseño')"
            [ngClass]="{'active': galleryFilter ==='diseño'}">Diseño Web</li>
          <li class="list-inline-item categories-name border text-dark rounded ms-2" (click)="activeCategory('marketing')"
            [ngClass]="{'active': galleryFilter ==='marketing'}">Marketing</li>
          <li class="list-inline-item categories-name border text-dark rounded ms-2" (click)="activeCategory('seo')"
            [ngClass]="{'active': galleryFilter ==='seo'}">SEO</li>
          <li class="list-inline-item categories-name border text-dark rounded ms-2" (click)="activeCategory('desarrollo')"
            [ngClass]="{'active': galleryFilter ==='desarrollo'}">Desarrollo</li>
        </ul>
      </div>
      <!--end row-->
  
      <div class="row projects-wrapper">

        <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2 business mb-4 pb-2" *ngFor="let item of filterredImages | paginate: { itemsPerPage: 9, currentPage: page }">
          <a (click)="setBlog(item)" href="javascript:void(0)">

            <div class="card blog border-0 work-container work-classic shadow rounded-md overflow-hidden">
              <img src="{{item.image}}" class="img-fluid work-image" alt="">
              <div class="card-body">
                <div class="content">
                  <a (click)="setBlog(item)" class="badge badge-link bg-{{item.variant}}">{{item.type}}</a>
                  <h5 class="mt-3">
                    <a (click)="setBlog(item)" class="text-dark title">{{item.title}}</a>
                  </h5>
                  <p class="text-muted">{{item.shortDescription}}</p>
                  <a  (click)="setBlog(item)" class="text-primary h6">Leer Más <i
                      class="uil uil-angle-right-b align-middle"></i></a>
                </div>
              </div>
            </div>
          </a>
          
        
        </div>
        <!--end col-->
        <div class="col-12 justify-content-center d-flex">
          <pagination-controls (pageChange)="page = $event"></pagination-controls>
        </div>
        

        <!-- pagination -->

        <!-- <div class="col-12">
            <ul class="pagination justify-content-center mb-0">
                <li class="page-item"><a class="page-link" href="javascript:void(0)" aria-label="Previous">Anterior</a>
                </li>
                <li class="page-item active"><a class="page-link" href="javascript:void(0)">1</a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0)" aria-label="Next">Siguiente</a></li>
            </ul>
        </div> -->
        
  
      </div>
      <!--end row-->
    </div>
    <!--end container-->
  </section>
  <!--end section-->

  <app-form-bottom id="contacto"></app-form-bottom>

  
  <!-- Back to top -->
  <a href="javascript: void(0);" class="btn btn-icon btn-primary back-to-top" id="back-to-top" [ngxScrollTo]="'#home'">
    <i-feather name="arrow-up" class="icons"></i-feather>
  </a>
  <!-- Back to top -->