<!-- Hero Start -->
<section class="bg-half bg-light d-table w-100" id="home">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 col-12">
                <div class="title-heading">
                    <span class="badge rounded-pill bg-soft-primary">Diseño Web y Presencia en Internet</span>
                    <h1 class="fw-bold mt-2 mb-3">Diseño Web <br> Incluido en el Kit Digital</h1>
                    <p class="para-desc text-muted">Diseñamos y mantenemos tu página web. Creamos todo el contenido con optimización SEO para navegadores.</p>
                    <h3 class="fw-bold mt-2 mb-3">Servicio subvencionado hasta 2.000€ con el Programa Kit Digital</h3>
                    <div class="mt-4 pt-2">
                        <a [ngxScrollTo]="'#contacto'" class="btn btn-primary me-2"><i class="mdi mdi-email"> </i> Contacta</a>
                        <a (click)="subscribeOpen(Subscribecontent)" class="btn btn-outline-primary"><i class="mdi mdi-phone"> </i> Te llamamos</a>
                    </div>
                    <!-- <p class="text-muted mb-0 mt-3">Current Version: v3.0.0</p> -->
                </div>
            </div>
            <!--end col-->

            <div class="col-md-6 mt-4 pt-2 mt-sm-0 pt-sm-0">
                <img src="assets/images/integration/hero.png" class="img-fluid d-block mx-auto" alt="">
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>
<!--end section-->
<!-- Hero End -->

<!-- Shape Start -->
<div class="position-relative">
    <div class="shape overflow-hidden text-white">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
        </svg>
    </div>
</div>
<!--Shape End-->

<section class="section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 text-center">
          <div class="section-title mb-4 pb-2">
            <h2 class="title mb-4">Sitio Web y Presencia en Internet</h2>
            <p class="text-muted para-desc mb-0 mx-auto">Gracias a la financiación del <span
                class="text-primary fw-bold">Kit Digital</span> podrás mejorar tu presencia en internet creando o actualizando tu página web. <br>
              Algúnas de las ventajas que disponen nuestras páginas web son:
              </p>
          </div>
        </div>
        <!--end col-->
      </div>
      <!--end row-->
  
      <div class="row">
        <div class="col-lg-3 col-md-4 mt-4 pt-2">
          <div
            class="card features fea-primary rounded p-4 bg-light text-center position-relative overflow-hidden border-0">
            <span class="h1 icon2 text-primary">
              <i class="uil uil-chart-line"></i>
            </span>
            <div class="card-body p-0 content">
              <h5>Responsive</h5>
              <p class="para text-muted mb-0">Nuestros diseños estan totalmente adaptado a todos los dispositivos.</p>
            </div>
            <span class="big-icon text-center">
              <i class="uil uil-chart-line"></i>
            </span>
          </div>
        </div>
        <!--end col-->
  
        <div class="col-lg-3 col-md-4 mt-4 pt-2">
          <div
            class="card features fea-primary rounded p-4 bg-light text-center position-relative overflow-hidden border-0">
            <span class="h1 icon2 text-primary">
              <i class="uil uil-crosshairs"></i>
            </span>
            <div class="card-body p-0 content">
              <h5>UX</h5>
              <p class="para text-muted mb-0">Nos enfocamos en diseñar la mejor experiencia de usuario posible, una pagina web accesible para todo tipo de usuario.</p>
            </div>
            <span class="big-icon text-center">
              <i class="uil uil-crosshairs"></i>
            </span>
          </div>
        </div>
        <!--end col-->
  
        <div class="col-lg-3 col-md-4 mt-4 pt-2">
          <div
            class="card features fea-primary rounded p-4 bg-light text-center position-relative overflow-hidden border-0">
            <span class="h1 icon2 text-primary">
              <i class="uil uil-airplay"></i>
            </span>
            <div class="card-body p-0 content">
              <h5>Textos e Imágenes</h5>
              <p class="para text-muted mb-0">Redactamos los textos que definen tu negocio así como los servicios que presatas, empleando imagenes acordes.</p>
            </div>
            <span class="big-icon text-center">
              <i class="uil uil-airplay"></i>
            </span>
          </div>
        </div>
        <!--end col-->
  
        <div class="col-lg-3 col-md-4 mt-4 pt-2">
          <div
            class="card features fea-primary rounded p-4 bg-light text-center position-relative overflow-hidden border-0">
            <span class="h1 icon2 text-primary">
              <i class="uil uil-rocket"></i>
            </span>
            <div class="card-body p-0 content">
              <h5>SEO</h5>
              <p class="para text-muted mb-0">Todas nuestras acciónes están orientadas a proporcionar una adecuada optimización para buscadores.</p>
            </div>
            <span class="big-icon text-center">
              <i class="uil uil-rocket"></i>
            </span>
          </div>
        </div>
        <!--end col-->
  
        <div class="col-lg-3 col-md-4 mt-4 pt-2">
          <div
            class="card features fea-primary rounded p-4 bg-light text-center position-relative overflow-hidden border-0">
            <span class="h1 icon2 text-primary">
              <i class="uil uil-clock"></i>
            </span>
            <div class="card-body p-0 content">
              <h5>Analitica</h5>
              <p class="para text-muted mb-0">Sabemos en cada momento el comportamiento de los usuarios que utilizan tu web.</p>
            </div>
            <span class="big-icon text-center">
              <i class="uil uil-clock"></i>
            </span>
          </div>
        </div>
        <!--end col-->
  
        <div class="col-lg-3 col-md-4 mt-4 pt-2">
          <div
            class="card features fea-primary rounded p-4 bg-light text-center position-relative overflow-hidden border-0">
            <span class="h1 icon2 text-primary">
              <i class="uil uil-users-alt"></i>
            </span>
            <div class="card-body p-0 content">
              <h5>Rendimiento</h5>
              <p class="para text-muted mb-0">Todos nuestros proyectos están orientados a ofrecer la mayor velociadad de carga de tu pagina web</p>
            </div>
            <span class="big-icon text-center">
              <i class="uil uil-users-alt"></i>
            </span>
          </div>
        </div>
        <!--end col-->
  
        <div class="col-lg-3 col-md-4 mt-4 pt-2">
          <div
            class="card features fea-primary rounded p-4 bg-light text-center position-relative overflow-hidden border-0">
            <span class="h1 icon2 text-primary">
              <i class="uil uil-file-alt"></i>
            </span>
            <div class="card-body p-0 content">
              <h5>Seguridad</h5>
              <p class="para text-muted mb-0">Implementamos las tecnologías necesarias para evitar riesgos y amenzas.</p>
            </div>
            <span class="big-icon text-center">
              <i class="uil uil-file-alt"></i>
            </span>
          </div>
        </div>
        <!--end col-->
  
        <div class="col-lg-3 col-md-4 mt-4 pt-2">
          <div
            class="card features fea-primary rounded p-4 bg-light text-center position-relative overflow-hidden border-0">
            <span class="h1 icon2 text-primary">
              <i class="uil uil-search"></i>
            </span>
            <div class="card-body p-0 content">
              <h5>Call to Action</h5>
              <p class="para text-muted mb-0">Aumentamos la respuesta e interacción de tus usuarios gracias a elementos de llamadas a la acción.</p>
            </div>
            <span class="big-icon text-center">
              <i class="uil uil-search"></i>
            </span>
          </div>
        </div>
        <!--end col-->
  
        <div class="col-lg-12 text-center col-md-4 mt-4 pt-2">
          <a [ngxScrollTo]="'#contacto'" class="btn btn-primary">Contacta
            <i-feather name="arrow-right" class="fea icon-sm"></i-feather>
          </a>
        </div>
        <!--end col-->
      </div>
      <!--end row-->
    </div>
</section>


<section class="section">

    <!-- <div class="container  mt-60">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="section-title text-center mb-4 pb-2">
                    <h6 class="text-primary">Quickstart</h6>
                    <h4 class="title mb-4">Awesome isn't it? Let's dive in!</h4>
                    <p class="para-desc mx-auto text-muted mb-0">Start working with <span
                            class="text-primary fw-bold">Landrick</span> that can provide everything you need to
                        generate awareness, drive traffic, connect.</p>
                </div>
            </div> -->
            <!--end col-->
        <!-- </div> -->
        <!--end row-->

        <!--end row-->
    <!-- </div> -->
    <!--end container-->

    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-6 order-1 order-md-2">
                <img src="assets/images/integration/1.png" class="img-fluid" alt="">
            </div>
            <!--end col-->

            <div class="col-lg-7 col-md-6 order-2 order-md-1 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <div class="section-title me-lg-5">
                    <h4 class="title mb-4">Kit Digital <br> Principales Ventajas</h4>
                    <p class="text-muted">Nuestro servicio contempla el diseño y posterior mantenimiento y actualización de tu página web, para que se encuentre siempre al día. Te entregaremos informes mensuales que te permitirán comprobar el estado de tu página web y el número de visitas.</p>
                    <ul class="list-unstyled text-muted">
                        <li class="mb-0">
                          <span class="text-primary h5 me-2">
                            <i class="uil uil-check-circle align-middle"></i>
                          </span>
                          Dominio web durante un mínimo de 12 meses.
                        </li>
                        <li class="mb-0">
                          <span class="text-primary h5 me-2">
                            <i class="uil uil-check-circle align-middle"></i>
                          </span>Alojamiento web, también durante 12 meses.
                        </li>
                        <li class="mb-0">
                          <span class="text-primary h5 me-2">
                            <i class="uil uil-check-circle align-middle"></i>
                          </span>
                          Web responsive, tu web se adaptará a cualquier tipo de dispositivo
                        </li>
                        <li class="mb-0">
                          <span class="text-primary h5 me-2">
                            <i class="uil uil-check-circle align-middle"></i>
                          </span>
                          Diseño web autogestionable, con un mínimo de 3 apartados.
                        </li>
                        <li class="mb-0">
                          <span class="text-primary h5 me-2">
                            <i class="uil uil-check-circle align-middle"></i>
                          </span>
                          Web responsive, tu web se adaptará a cualquier tipo de dispositivo
                        </li>
                        <li class="mb-0">
                          <span class="text-primary h5 me-2">
                            <i class="uil uil-check-circle align-middle"></i>
                          </span>
                          Posicionamiento y obtimización en iternet SEO.
                        </li>
                    </ul>
                    <div class="mt-4">
                        <a [ngxScrollTo]="'#contacto'" class="btn btn-primary">Solicitar Bono Digital <i-feather name="arrow-right"
                                class="fea icon-sm"></i-feather></a>
                    </div>
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->

    <div class="container mt-100 mt-60">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="section-title text-center mb-4 pb-2">
                    <h4 class="title mb-4">Soluciones de digitalización para autonomos y empresas</h4>
                    <p class="para-desc mx-auto text-muted mb-0">Todos nuestros planes incluyen <span
                            class="text-primary fw-bold">mantenimiento y alojamiento gratuito</span> durante el primer año.</p>
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->

        <div class="row">
            <div class="col-lg-4 col-md-6 mt-4 pt-2">
                <div class="card pricing-rates business-rate border-0 p-4 rounded-md shadow">
                  <div class="card-body p-0">
                    <span
                        class="py-2 px-4 d-inline-block bg-soft-primary h6 mb-0 text-primary rounded-lg">Básico</span>
                    <h2 class="fw-bold mb-0 mt-3">PVP: 1200€*</h2>
                    <!-- <p class="text-muted">+ IVA</p> -->

                    <p class="text-muted">Ideal para atónomos y micropymes.</p>

                    <ul class="list-unstyled pt-3 border-top">
                        <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i
                                    class="uil uil-check-circle align-middle"></i></span>Web totalmente autogestionada</li>
                        <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i
                                    class="uil uil-check-circle align-middle"></i></span>Hasta 3 secciones web</li>
                        <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i
                                    class="uil uil-check-circle align-middle"></i></span>Dominio incluido durante 12 meses.</li>
                        <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i
                                    class="uil uil-check-circle align-middle"></i></span>Optimizáda para todos los dispositivos</li>
                        <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i
                                    class="uil uil-check-circle align-middle"></i></span>Diseño de texto e imágenes</li>
                        <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i
                                    class="uil uil-check-circle align-middle"></i></span>Analisis de usuarios y rendimiento</li>
                        <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i
                                    class="uil uil-check-circle align-middle"></i></span>Soporte durante 12 meses.</li>       
                        <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i
                                    class="uil uil-check-circle align-middle"></i></span><b>Alojamiento compartido, durante 12 meses.</b></li>
                        <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i
                                    class="uil uil-check-circle align-middle"></i></span><b>Optimización de rendimiento básica.</b></li>
                        <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i
                                    class="uil uil-check-circle align-middle"></i></span><b>SEO básico para buscadores.</b></li>         
                    </ul>

                    <div class="mt-4">
                        <div class="d-grid">
                            <button class="btn btn-primary" [ngxScrollTo]="'#contacto'" >Más información</button>
                        </div>
                        <p class="text-muted mt-3 mb-0">*Precio llave en mano, IVA no incluido</p>
                    </div>
                </div>
                </div>
            </div>
            <!--end col-->

            <div class="col-lg-4 col-md-6 mt-4 pt-2">
                <div class="card pricing-rates business-rate border-0 p-4 rounded-md shadow">
                    <div class="ribbon ribbon-right ribbon-warning overflow-hidden"><span
                            class="text-center d-block shadow small h6">Best</span></div>
                            <div class="card-body p-0">
                              <span
                                  class="py-2 px-4 d-inline-block bg-soft-primary h6 mb-0 text-primary rounded-lg">Recomendado</span>
                              <h2 class="fw-bold mb-0 mt-3">PVP: 2000€*</h2>
                              <!-- <p class="text-muted">+ IVA</p> -->
      
                              <p class="text-muted">Presencia destacada en internet.</p>
      
                              <ul class="list-unstyled pt-3 border-top">
                                  <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i
                                              class="uil uil-check-circle align-middle"></i></span><b>Gestor de contenidos WordPress</b></li>
                                  <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i
                                              class="uil uil-check-circle align-middle"></i></span><b>Hasta 5 secciones web</b></li>
                                  <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i
                                              class="uil uil-check-circle align-middle"></i></span>Dominio incluido durante 12 meses.</li>
                                  <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i
                                              class="uil uil-check-circle align-middle"></i></span>Optimizáda para todos los dispositivos</li>
                                  <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i
                                              class="uil uil-check-circle align-middle"></i></span>Diseño de texto e imágenes</li>
                                  <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i
                                              class="uil uil-check-circle align-middle"></i></span>Analisis de usuarios y rendimiento</li>
                                  <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i
                                              class="uil uil-check-circle align-middle"></i></span>Soporte durante 12 meses.</li>       
                                  <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i
                                              class="uil uil-check-circle align-middle"></i></span><b>Alojamiento VPS, durante 12 meses.</b></li>
                                  <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i
                                              class="uil uil-check-circle align-middle"></i></span><b>Optimización de rendimiento avanzada.</b></li>
                                  <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i
                                              class="uil uil-check-circle align-middle"></i></span><b>SEO avanzado para buscadores.</b></li>         
                              </ul>
      
                              <div class="mt-4">
                                  <div class="d-grid">
                                      <button class="btn btn-primary" [ngxScrollTo]="'#contacto'">Más información</button>
                                  </div>
                                  <p class="text-muted mt-3 mb-0">*Precio llave en mano, IVA no incluido</p>
                              </div>
                          </div>
                </div>
            </div>
            <!--end col-->

            <div class="col-lg-4 col-md-6 mt-4 pt-2">
                <div class="card pricing-rates business-rate border-0 p-4 rounded-md shadow">
                  <div class="card-body p-0">
                    <span
                        class="py-2 px-4 d-inline-block bg-soft-primary h6 mb-0 text-primary rounded-lg">Avanzado</span>
                    <h2 class="fw-bold mb-0 mt-3">PVP: 3200€*</h2>
                    <!-- <p class="text-muted">+ IVA</p> -->

                    <p class="text-muted">La mejor opción para tu empresa.</p>

                    
                    <ul class="list-unstyled pt-3 border-top">
                      <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i
                                  class="uil uil-check-circle align-middle"></i></span><b>Gestor de contenidos WordPress</b></li>
                      <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i
                                  class="uil uil-check-circle align-middle"></i></span><b>Hasta 10 secciones web</b></li>
                      <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i
                                  class="uil uil-check-circle align-middle"></i></span>Dominio incluido durante 12 meses.</li>
                      <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i
                                  class="uil uil-check-circle align-middle"></i></span>Optimizáda para todos los dispositivos</li>
                      <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i
                                  class="uil uil-check-circle align-middle"></i></span>Diseño de texto e imágenes</li>
                      <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i
                                  class="uil uil-check-circle align-middle"></i></span>Analisis de usuarios y rendimiento</li>
                      <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i
                                  class="uil uil-check-circle align-middle"></i></span>Soporte durante 12 meses.</li>       
                      <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i
                                  class="uil uil-check-circle align-middle"></i></span><b>Alojamiento VPS, durante 12 meses.</b></li>
                      <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i
                                  class="uil uil-check-circle align-middle"></i></span><b>Optimización de rendimiento avanzada.</b></li>
                      <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i
                                  class="uil uil-check-circle align-middle"></i></span><b>SEO avanzado para buscadores.</b></li>         
                  </ul>


                    <div class="mt-4">
                        <div class="d-grid">
                            <button class="btn btn-primary" [ngxScrollTo]="'#contacto'">Más información</button>
                        </div>
                        <p class="text-muted mt-3 mb-0">*Precio llave en mano, IVA no incluido</p>
                    </div>
                </div>
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>


<!-- SECCION DE CONTACTO FINAL -->

<app-form-bottom id="contacto"></app-form-bottom>




   <!-- Subscribe Modal Content Start -->
   <ng-template #Subscribecontent let-modal>
    <div class="modal-content rounded shadow border-0">
      <div class="modal-body p-4" style="background: url('assets/images/illustrator/faq.svg') no-repeat;">
        <button type="button" class="btn-close float-end m-1" aria-label="Close" (click)="modal.dismiss('Cross click')">
        </button>
        <div class="clearfix"></div>
        <div class="container-fluid px-0">
          <div class="row align-items-center g-0">
            <div class="col-lg-6 offset-lg-6">
              <div class="pb-5 pt-4 px-4">
                <h4 >¿Quieres que te llamemos?</h4>

                <h6 class="text-muted">Dejanos tus datos y nos ponemos en contacto</h6>
                <!-- <p class="text-muted mb-0">Subscribe to the Landrick mailing list to receive updates on new
                  arrivals, special offers and our promotions.</p> -->
                <form class="mt-4">
                  <div class="row">

                    <div class="col-lg-12">
                      <div class="foot-subscribe mb-3">
                        <div class="form-icon position-relative">
                          <i-feather name="user" class="fea icon-sm icons"></i-feather>
                          <input type="email" name="name" id="daily-updates"
                            class="form-control ps-5 rounded" placeholder="Nombre : " required>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-12">
                      <div class="foot-subscribe mb-3">
                        <div class="form-icon position-relative">
                          <i-feather name="phone" class="fea icon-sm icons"></i-feather>
                          <input type="mail" name="email" id="daily-updates"
                            class="form-control ps-5 rounded" placeholder="Tlf : " required>
                        </div>
                      </div>
                    </div>
                    
                    <div class="col-lg-12">
                      <div class="foot-subscribe mb-3">
                        <div class="form-icon position-relative">
                          <i-feather name="mail" class="fea icon-sm icons"></i-feather>
                          <input type="mail" name="email" id="daily-updates"
                            class="form-control ps-5 rounded" placeholder="Email : " required>
                        </div>
                      </div>
                    </div>
                    <!--end col-->

                    <div class="col-lg-12">
                      <div class="d-grid">
                        <input type="submit" id="submitsubscribe" name="send" class="btn btn-primary"
                          value="Enviar">
                      </div>
                    </div>
                    <!--end col-->

                    <!-- <div class="col-12">
                      <div class="text-center">
                        <p class="mb-0 mt-3"><small class="text-dark me-2">Already have an account ?</small>
                          <a href="javascript:void(0)" class="text-dark fw-bold">Sign in</a>
                        </p>
                      </div>
                    </div> -->
                    <!--end col-->
                  </div>
                  <!--end row-->
                </form>
              </div>
            </div>
            <!--end col-->
          </div>
          <!--end row-->
        </div>
        <!--end container-->
      </div>
    </div>
  </ng-template>
  <!-- Modal Content End -->