
.under_industry-images {
    aspect-ratio: 1/1;
}

.under_industry-images {
    width: 100%;
    min-height: 100px;
    background-position: 50% 50%;
    background-size: cover;
}

.under_industry-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
    min-height: 100px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    grid-column-gap: 16px;
}
@media screen and (min-width: 991px) {
    .img{
        object-fit: cover;
        height: 600px;
        width: 100%;
    }



}


/* ESTILOS PARA MOVILES */
@media screen and (max-width: 768px) {
    .img{
        object-fit: cover;
        height: 300px;
        width: 100%;
    }

    .top-image{
        display: none;
    }

}
    

.column-left {
    position: absolute;
    left: -100%;
    transition: all 1s ease-in-out;
  }
  
  .column-right {
    position: absolute;
    right: -100%;
    transition: all 1s ease-in-out;
  }
  
  .show-columns {
    left: 0;
    right: 0;
  }

  ::ng-deep .accordion .card-header {
    background-color: rgba(0, 0, 0, 0.04) !important;
  }

  ::ng-deep .accordion .card-header .title{
    
    text-decoration: none !important;
    
  }
