/* estilos para movil */

@media (max-width: 767px) {
    .column-left {
        position: absolute;
        left: -100%;
        transition: all 1s ease-in-out;
    }
    
    .column-right {
        position: absolute;
        right: -100%;
        transition: all 1s ease-in-out;
    }
    
    .show-columns {
        left: 0;
        right: 0;
    }
    /* la clase .saas-feature-shape-right:after no debe mostrarse a la pantalla de movil */
    .saas-feature-shape-right:after {
        display: none;
    }
  


}