.sub-header{
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: white;
    width: 100%;
}

.sub-header1{

    color: white;
    width: 100%;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border-bottom-width: 1px;
    position: fixed; /* Make it stick/fixed */
    background-color: black;
    top: 0; /* Stay on top */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */

}

.top-header{
    display: block;
    position:relative;
}

.header-menu{
    padding-top: 0px;
    padding-bottom: 0px;
}

/* SECCION MOVIL */
@media screen and (max-width: 768px) {
    .hide-mobile{
        display: none;
    }
 
}