<!-- Hero Start -->
<section class="bg-half bg-light d-table w-100" id="home">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 col-12">
                <div class="title-heading">
                    <span class="badge rounded-pill bg-soft-primary">Servicios Digitales</span>
                    <h1 class="fw-bold mt-2 mb-3">BI y Analítica <br> Incluido en el Kit Digital</h1>
                    <p class="para-desc text-muted">Toma decisiones gracias al analisis de datos actualizados, visuliza la información y crea informes de manera sencilla.</p>
                    <h3 class="fw-bold mt-2 mb-3">Servicio subvencionado hasta 4.000€ con el Programa Kit Digital</h3>
                    <div class="mt-4 pt-2">
                        <a [ngxScrollTo]="'#contacto'" class="btn btn-primary me-2"><i class="mdi mdi-email"> </i> Contacta</a>
                        <a class="btn btn-outline-primary" (click)="subscribeOpen(Subscribecontent)"><i class="mdi mdi-phone"> </i> Te llamamos</a>
                    </div>
                    <!-- <p class="text-muted mb-0 mt-3">Current Version: v3.0.0</p> -->
                </div>
            </div>
            <!--end col-->

            <div class="col-md-6 mt-4 pt-2 mt-sm-0 pt-sm-0">
                <img src="assets/images/illustrator/analyze_report_4.svg" class="img-fluid d-block mx-auto" alt="">
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>
<!--end section-->
<!-- Hero End -->

<!-- Shape Start -->
<div class="position-relative">
    <div class="shape overflow-hidden text-white">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
        </svg>
    </div>
</div>
<!--Shape End-->




<section class="section">

    <!-- <div class="container  mt-60">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="section-title text-center mb-4 pb-2">
                    <h6 class="text-primary">Quickstart</h6>
                    <h4 class="title mb-4">Awesome isn't it? Let's dive in!</h4>
                    <p class="para-desc mx-auto text-muted mb-0">Start working with <span
                            class="text-primary fw-bold">Landrick</span> that can provide everything you need to
                        generate awareness, drive traffic, connect.</p>
                </div>
            </div> -->
            <!--end col-->
        <!-- </div> -->
        <!--end row-->

        <!--end row-->
    <!-- </div> -->
    <!--end container-->

    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-6 order-1 order-md-2">
                <img src="assets/images/integration/1.png" class="img-fluid" alt="">
            </div>
            <!--end col-->

            <div class="col-lg-7 col-md-6 order-2 order-md-1 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <div class="section-title me-lg-5">
                    <h4 class="title mb-4">Kit Digital <br> Principales Ventajas</h4>
                    <p class="text-muted">Crea informes y analiza los datos de las distintas secciones de tu empresa para poder tomar decisiones solidas, visualiza todos los datos relevantes y automatiza un gran volumen de trabajo de preparación de informes.</p>
                    <ul class="list-unstyled text-muted">
                        <li class="mb-0">
                          <span class="text-primary h5 me-2">
                            <i class="uil uil-check-circle align-middle"></i>
                          </span>
                          Integración de datos con otras bases de datos.
                        </li>
                        <li class="mb-0">
                          <span class="text-primary h5 me-2">
                            <i class="uil uil-check-circle align-middle"></i>
                          </span>Almacenamiento de datos.
                        </li>
                        <li class="mb-0">
                          <span class="text-primary h5 me-2">
                            <i class="uil uil-check-circle align-middle"></i>
                          </span>
                          Creación de paneles de datos estructurados y visuales
                        </li>
                        <li class="mb-0">
                          <span class="text-primary h5 me-2">
                            <i class="uil uil-check-circle align-middle"></i>
                          </span>
                          Exportación de datos.
                        </li>
                  
                    </ul>
                    <div class="mt-4">
                        <a [ngxScrollTo]="'#contacto'" class="btn btn-primary">Solicitar Bono Digital <i-feather name="arrow-right"
                                class="fea icon-sm"></i-feather></a>
                    </div>
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->

    <div class="container mt-100 mt-60">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="section-title text-center mb-4 pb-2">
                    <h4 class="title mb-4">Soluciones de digitalización para autonomos y empresas</h4>
                    <p class="para-desc mx-auto text-muted mb-0">Todos nuestros planes incluyen <span
                            class="text-primary fw-bold">mantenimiento y alojamiento gratuito</span> durante el primer año.</p>
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->

        <div class="row">
          <div class="col-lg-6 col-md-6 mt-4 pt-2 offset-lg-3 offset-md-3">
            <div class="card pricing-rates business-rate border-0 p-4 rounded-md shadow align-items-center">
                  <div class="card-body p-0 text-center">
                    <span
                    class="py-2 px-4 d-inline-block bg-soft-primary h6 mb-0 text-primary rounded-lg ">Solución ERP</span>
                    <!-- <p class="text-muted">+ IVA</p> -->

                    <h5 class="text-muted pt-3">Pack Basico Ayuda.</h5>

                    <ul class="list-unstyled pt-3 border-top">
                      <li class="h6 text-muted mb-0">
                        <p class="fw-bold">Horas de parametrización incluidas.</p>
                      </li>
                      <li class="h7 text-muted mb-0">10-49 empleados: 4.000€ (hasta 3 usuarios)</li>
                      <li class="h7 text-muted mb-0">3-9 empleados: 2.000€ (hasta 3 usuarios)</li>
                      <li class="h7 text-muted mb-0">0-2 empleados: 1.500€ (hasta 1 usuario)</li>
                      <li class="h6 text-muted mb-0">
                        <p class="fw-bold mt-3 border-top pt-3 text-center">Características.</p>
                      </li>
                      <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i
                                  class="uil uil-check-circle align-middle"></i></span>Implementación e integración de diferentes bases de datos.</li>
                      <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i
                                  class="uil uil-check-circle align-middle"></i></span>Almacenamiento de datos con un minimo de 1GB por usuario.</li>       
                      <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i
                                  class="uil uil-check-circle align-middle"></i></span><b>Creación de paneles de datos estructurados y visuales.</b></li>
                      <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i
                                  class="uil uil-check-circle align-middle"></i></span><b>Exporta tus datos a diferentes formatos.</b></li> 
                    </ul>

                    <div class="mt-4">
                        <div class="d-grid">
                            <button class="btn btn-primary" [ngxScrollTo]="'#contacto'" >Más información</button>
                        </div>
                        <p class="text-muted mt-3 mb-0">Subvencionado hasta 1.000€</p>
                      </div>
                </div>
                </div>
            </div>
            <!--end col-->

          </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>

<!-- SECCION DE CONTACTO FINAL -->

<app-form-bottom id="contacto"></app-form-bottom>



   <!-- Subscribe Modal Content Start -->
   <ng-template #Subscribecontent let-modal>
    <div class="modal-content rounded shadow border-0">
      <div class="modal-body p-4" style="background: url('assets/images/illustrator/faq.svg') no-repeat;">
        <button type="button" class="btn-close float-end m-1" aria-label="Close" (click)="modal.dismiss('Cross click')">
        </button>
        <div class="clearfix"></div>
        <div class="container-fluid px-0">
          <div class="row align-items-center g-0">
            <div class="col-lg-6 offset-lg-6">
              <div class="pb-5 pt-4 px-4">
                <h4 >¿Quieres que te llamemos?</h4>

                <h6 class="text-muted">Dejanos tus datos y nos ponemos en contacto</h6>
                <!-- <p class="text-muted mb-0">Subscribe to the Landrick mailing list to receive updates on new
                  arrivals, special offers and our promotions.</p> -->
                <form class="mt-4">
                  <div class="row">

                    <div class="col-lg-12">
                      <div class="foot-subscribe mb-3">
                        <div class="form-icon position-relative">
                          <i-feather name="user" class="fea icon-sm icons"></i-feather>
                          <input type="email" name="name" id="daily-updates"
                            class="form-control ps-5 rounded" placeholder="Nombre : " required>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-12">
                      <div class="foot-subscribe mb-3">
                        <div class="form-icon position-relative">
                          <i-feather name="phone" class="fea icon-sm icons"></i-feather>
                          <input type="mail" name="email" id="daily-updates"
                            class="form-control ps-5 rounded" placeholder="Tlf : " required>
                        </div>
                      </div>
                    </div>
                    
                    <div class="col-lg-12">
                      <div class="foot-subscribe mb-3">
                        <div class="form-icon position-relative">
                          <i-feather name="mail" class="fea icon-sm icons"></i-feather>
                          <input type="mail" name="email" id="daily-updates"
                            class="form-control ps-5 rounded" placeholder="Email : " required>
                        </div>
                      </div>
                    </div>
                    <!--end col-->

                    <div class="col-lg-12">
                      <div class="d-grid">
                        <input type="submit" id="submitsubscribe" name="send" class="btn btn-primary"
                          value="Enviar">
                      </div>
                    </div>
                    <!--end col-->

                    <!-- <div class="col-12">
                      <div class="text-center">
                        <p class="mb-0 mt-3"><small class="text-dark me-2">Already have an account ?</small>
                          <a href="javascript:void(0)" class="text-dark fw-bold">Sign in</a>
                        </p>
                      </div>
                    </div> -->
                    <!--end col-->
                  </div>
                  <!--end row-->
                </form>
              </div>
            </div>
            <!--end col-->
          </div>
          <!--end row-->
        </div>
        <!--end container-->
      </div>
    </div>
  </ng-template>
  <!-- Modal Content End -->