<!-- Hero Start -->
<section class="bg-half bg-light d-table w-100" id="home">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 col-12">
                <div class="title-heading">
                    <span class="badge rounded-pill bg-soft-primary">Presencia Digital</span>
                    <h1 class="fw-bold mt-2 mb-3">Gestión De Redes Sociales<br> Incluido en el Kit Digital</h1>
                    <p class="para-desc text-muted">Crea o mejora la conexión con tu público en redes sociales, mejora el alcance de tu marca y alcanza nuevas oportunidades de negocio.</p>
                    <h3 class="fw-bold mt-2 mb-3">Servicio subvencionado hasta 2.500€ con el Programa Kit Digital</h3>
                    <div class="mt-4 pt-2">
                        <a [ngxScrollTo]="'#contacto'" class="btn btn-primary me-2"><i class="mdi mdi-email"> </i> Contacta</a>
                        <a (click)="subscribeOpen(Subscribecontent)" class="btn btn-outline-primary"><i class="mdi mdi-phone"> </i> Te llamamos</a>
                    </div>
                    <!-- <p class="text-muted mb-0 mt-3">Current Version: v3.0.0</p> -->
                </div>
            </div>
            <!--end col-->

            <div class="col-md-6 mt-4 pt-2 mt-sm-0 pt-sm-0">
              <div class="social-feature-right">
                <img src="assets/images/social/social.svg" class="img-fluid" alt="">
              </div>            
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>
<!--end section-->
<!-- Hero End -->

<!-- Shape Start -->
<div class="position-relative">
    <div class="shape overflow-hidden text-white">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
        </svg>
    </div>
</div>
<!--Shape End-->

<section class="section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 text-center">
          <div class="section-title mb-4 pb-2">
            <h4 class="title mb-4">Gestión de Redes Sociales</h4>
            <p class="text-muted para-desc mb-0 mx-auto">Gracias a la financiación del <span
                class="text-primary fw-bold">Kit Digital</span> podrás mejorar tu presencia en internet, nuestros equipo de Social Media se encargara de gestionar adecuadamente la presencia de tu negocio, gracias a una estrategia en redes sociales que contacte de la mejor forma. <br>
             con tus clientes, empleando las redes sociales que mejor se adapten a tu público objetivo:
              </p>
          </div>
        </div>
        <!--end col-->
      </div>
      <!--end row-->
  
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 pb-md-4">
          <ul class="text-center mb-0 p-0">
            <li class="list-inline-item mx-2 mt-3"><a href="javascript:void(0)"
                class="btn btn-icon btn-pills btn-lg btn-blue" placement="top" ngbTooltip="Facebook">
                <i-feather name="facebook" class="icons"></i-feather>
              </a></li>
            <li class="list-inline-item mx-2 mt-3"><a href="javascript:void(0)"
                class="btn btn-icon btn-pills btn-lg btn-danger" placement="top" ngbTooltip="Instagram">
                <i-feather name="instagram" class="icons"></i-feather>
              </a></li>
            <li class="list-inline-item mx-2 mt-3"><a href="javascript:void(0)"
                class="btn btn-icon btn-pills btn-lg btn-secondary" placement="top" ngbTooltip="Linkedin">
                <i-feather name="linkedin" class="icons"></i-feather>
              </a></li>
            <li class="list-inline-item mx-2 mt-3"><a href="javascript:void(0)"
                class="btn btn-icon btn-pills btn-lg btn-info" placement="top" ngbTooltip="Twitter">
                <i-feather name="twitter" class="icons"></i-feather>
              </a></li>
            <!-- <li class="list-inline-item mx-2 mt-3"><a href="javascript:void(0)"
                class="btn btn-icon btn-pills btn-lg btn-warning" placement="top" ngbTooltip="Gitlab">
                <i-feather name="gitlab" class="icons"></i-feather>
              </a></li> -->
            <!-- <li class="list-inline-item mx-2 mt-3"><a href="javascript:void(0)"
                class="btn btn-icon btn-pills btn-lg btn-danger" placement="top" ngbTooltip="Youtube">
                <i-feather name="youtube" class="icons"></i-feather>
              </a></li> -->
            <!-- <li class="list-inline-item mx-2 mt-3"><a href="javascript:void(0)"
                class="btn btn-icon btn-pills btn-lg btn-success" placement="top" ngbTooltip="Whatsapp"><i
                  class="mdi mdi-whatsapp icons"></i></a></li>
            <li class="list-inline-item mx-2 mt-3"><a href="javascript:void(0)"
                class="btn btn-icon btn-pills btn-lg btn-info" placement="top" ngbTooltip="Telegram"><i
                  class="mdi mdi-telegram icons"></i></a></li>
            <li class="list-inline-item mx-2 mt-3"><a href="javascript:void(0)"
                class="btn btn-icon btn-pills btn-lg btn-blue" placement="top" ngbTooltip="Skype"><i
                  class="mdi mdi-skype icons"></i></a></li> -->
          </ul>
        </div>
        <!--end col-->
      </div>
      <!--end row-->
    </div>
</section>


<section class="section">

    <!-- <div class="container  mt-60">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="section-title text-center mb-4 pb-2">
                    <h6 class="text-primary">Quickstart</h6>
                    <h4 class="title mb-4">Awesome isn't it? Let's dive in!</h4>
                    <p class="para-desc mx-auto text-muted mb-0">Start working with <span
                            class="text-primary fw-bold">Landrick</span> that can provide everything you need to
                        generate awareness, drive traffic, connect.</p>
                </div>
            </div> -->
            <!--end col-->
        <!-- </div> -->
        <!--end row-->

        <!--end row-->
    <!-- </div> -->
    <!--end container-->

    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-6 order-1 order-md-2">
                <img src="assets/images/integration/1.png" class="img-fluid" alt="">
            </div>
            <!--end col-->

            <div class="col-lg-7 col-md-6 order-2 order-md-1 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <div class="section-title me-lg-5">
                    <h4 class="title mb-4">Kit Digital <br> Principales Ventajas</h4>
                    <p class="text-muted">Nuestro servicio contempla se centra en el analisis pormenorizado de tu negocio para poder crear un plan de marketing que nos permita contactar y fidelizar a los clientes potenciales de tu empresa, empleado las 
                      redes sociales y herramientas digitales más adecuadas.
                    </p>
                    <ul class="list-unstyled text-muted">
                        <li class="mb-0">
                          <span class="text-primary h5 me-2">
                            <i class="uil uil-check-circle align-middle"></i>
                          </span>
                          Social Media Plan: Estrategia en redes sciales, aliniada con tu visión.
                        </li>
                        <li class="mb-0">
                          <span class="text-primary h5 me-2">
                            <i class="uil uil-check-circle align-middle"></i>
                          </span>Monitorización del comportamiento en redes sociales.
                        </li>
                        <li class="mb-0">
                          <span class="text-primary h5 me-2">
                            <i class="uil uil-check-circle align-middle"></i>
                          </span>
                          Optimización y auditoria de tus redes, mejorando su rendimiento.
                        </li>
                        <li class="mb-0">
                          <span class="text-primary h5 me-2">
                            <i class="uil uil-check-circle align-middle"></i>
                          </span>
                          Gestión de una red social.
                        </li>
                        <li class="mb-0">
                          <span class="text-primary h5 me-2">
                            <i class="uil uil-check-circle align-middle"></i>
                          </span>
                          Publicación de post semanales.
                        </li>
                    </ul>
                    <div class="mt-4">
                        <a [ngxScrollTo]="'#contacto'" class="btn btn-primary">Solicitar Bono Digital <i-feather name="arrow-right"
                                class="fea icon-sm"></i-feather></a>
                    </div>
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->

    <div class="container mt-100 mt-60">
      <div class="row justify-content-center">
        <div class="col-lg-2 col-md-2 col-6 text-center">
          <img src="assets/images/client/facebook.svg" class="avatar avatar-ex-sm" alt="">
        </div>
        <!--end col-->
  
        <div class="col-lg-2 col-md-2 col-6 text-center">
          <img src="assets/images/client/instagram.svg" class="avatar avatar-ex-sm" alt="">
        </div>
        <!--end col-->
  
      
        <!--end col-->
  
        <div class="col-lg-2 col-md-2 col-6 text-center pt-5 pt-sm-0">
          <img src="assets/images/client/whatsapp.svg" class="avatar avatar-ex-sm" alt="">
        </div>
        <!--end col-->
  
        <div class="col-lg-2 col-md-2 col-6 text-center pt-5 pt-sm-0">
          <img src="assets/images/client/google.svg" class="avatar avatar-ex-sm" alt="">
        </div>
        <!--end col-->
  
        <div class="col-lg-2 col-md-2 col-6 text-center pt-5 pt-sm-0">
          <img src="assets/images/client/dribbble.svg" class="avatar avatar-ex-sm" alt="">
        </div>
        <!--end col-->
      </div>
      <!--end row-->
    </div>



    <div class="container mt-100 mt-60">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="section-title text-center mb-4 pb-2">
                    <h4 class="title mb-4">Soluciones de digitalización para autonomos y empresas</h4>
                    <p class="para-desc mx-auto text-muted mb-0">Todos nuestros planes incluyen la gestión de al menos una red social <span
                            class="text-primary fw-bold">subvencionado hasto 2.500€</span> durante el primer año.</p>
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->

        <div class="row">
            <div class="col-lg-4 col-md-6 mt-4 pt-2">
                <div class="card pricing-rates business-rate border-0 p-4 rounded-md shadow">
                  <div class="card-body p-0">
                    <span
                        class="py-2 px-4 d-inline-block bg-soft-primary h6 mb-0 text-primary rounded-lg">Básico</span>
                    <!-- <h2 class="fw-bold mb-0 mt-3">PVP: 1200€*</h2> -->
                    <!-- <p class="text-muted">+ IVA</p> -->

                    <p class="text-muted">Ideal para atónomos y micropymes.</p>

                    <ul class="list-unstyled pt-3 border-top">
                        <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i
                                    class="uil uil-check-circle align-middle"></i></span>Gestión de una Red Social</li>
                        <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i
                                    class="uil uil-check-circle align-middle"></i></span>Deficnicion de estrategia en redes.</li>
                        <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i
                                    class="uil uil-check-circle align-middle"></i></span>Monitorizacion de redes.</li>
                        <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i
                                    class="uil uil-check-circle align-middle"></i></span>Creación de informes detallados</li>
                        <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i
                                    class="uil uil-check-circle align-middle"></i></span>Inversión en publicidad:Básica</li>
                        <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i
                                    class="uil uil-check-circle align-middle"></i></span>Analisis de usuarios y rendimiento</li>
                        <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i
                                    class="uil uil-check-circle align-middle"></i></span>Soporte durante 12 meses.</li>            
                    </ul>

                    <div class="mt-4 border-top">
                          
                      <p class="text-muted mt-1 mb-0">4 publicaciones al mes : 850€</p>
                      <p class="text-muted mt-1 mb-0">8 publicaciones al mes : 1.500€</p>
                      <p class="text-muted mt-1 mb-0">12 publicaciones al mes : 2.250€</p>

                      <div class="d-grid mt-3 border-top">
                        <button class="btn btn-primary" [ngxScrollTo]="'#contacto'">Más información</button>
                      </div>
                    </div>
                  </div>
              </div>
         </div>
            <!--end col-->

            <div class="col-lg-4 col-md-6 mt-4 pt-2">
                <div class="card pricing-rates business-rate border-0 p-4 rounded-md shadow">
                    <div class="ribbon ribbon-right ribbon-warning overflow-hidden">
                      <span class="text-center d-block shadow small h6">Best</span>
                    </div>
                      <div class="card-body p-0">
                        <span
                            class="py-2 px-4 d-inline-block bg-soft-primary h6 mb-0 text-primary rounded-lg">Recomendado</span>
                        <!-- <p class="text-muted">+ IVA</p> -->

                        <p class="text-muted">Presencia destacada en internet.</p>

                        <ul class="list-unstyled pt-3 border-top">
                          <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i
                                      class="uil uil-check-circle align-middle"></i></span>Gestión de una Red Social</li>
                          <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i
                                      class="uil uil-check-circle align-middle"></i></span>Deficnicion de estrategia en redes.</li>
                          <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i
                                      class="uil uil-check-circle align-middle"></i></span>Monitorizacion de redes.</li>
                          <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i
                                      class="uil uil-check-circle align-middle"></i></span>Creación de informes detallados</li>
                          <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i
                                      class="uil uil-check-circle align-middle"></i></span>Inversión en publicidad:Medio</li>
                          <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i
                                      class="uil uil-check-circle align-middle"></i></span>Analisis de usuarios y rendimiento</li>
                          <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i
                                      class="uil uil-check-circle align-middle"></i></span>Soporte durante 12 meses.</li>            
                        </ul>

                        <div class="mt-4 border-top">
                          
                          <p class="text-muted mt-1 mb-0">4 publicaciones al mes : 1.250</p>
                          <p class="text-muted mt-1 mb-0">8 publicaciones al mes : 1.800€</p>
                          <p class="text-muted mt-1 mb-0">12 publicaciones al mes : 2.500€</p>

                          <div class="d-grid mt-3 border-top">
                            <button class="btn btn-primary" [ngxScrollTo]="'#contacto'">Más información</button>
                          </div>
                        </div>
                      </div>
                  </div>
             </div>
            <!--end col-->

            <div class="col-lg-4 col-md-6 mt-4 pt-2">
                <div class="card pricing-rates business-rate border-0 p-4 rounded-md shadow">
                  <div class="card-body p-0">
                    <span
                        class="py-2 px-4 d-inline-block bg-soft-primary h6 mb-0 text-primary rounded-lg">Avanzado</span>
                    <!-- <p class="text-muted">+ IVA</p> -->

                    <p class="text-muted">La mejor opción para tu empresa.</p>

                    
                    <ul class="list-unstyled pt-3 border-top">
                      <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i
                                  class="uil uil-check-circle align-middle"></i></span>Gestión de una Red Social</li>
                      <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i
                                  class="uil uil-check-circle align-middle"></i></span>Deficnicion de estrategia en redes.</li>
                      <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i
                                  class="uil uil-check-circle align-middle"></i></span>Monitorizacion de redes.</li>
                      <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i
                                  class="uil uil-check-circle align-middle"></i></span>Creación de informes detallados</li>
                      <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i
                                  class="uil uil-check-circle align-middle"></i></span>Inversión en publicidad:Alto</li>
                      <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i
                                  class="uil uil-check-circle align-middle"></i></span>Analisis de usuarios y rendimiento</li>
                      <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i
                                  class="uil uil-check-circle align-middle"></i></span>Soporte durante 12 meses.</li>            
                    </ul>


                    <div class="mt-4 border-top">
                      <p class="text-muted mt-1 mb-0">4 publicaciones al mes : 1.600€</p>
                      <p class="text-muted mt-1 mb-0">8 publicaciones al mes : 2.050€</p>
                      <p class="text-muted mt-1 mb-0">12 publicaciones al mes : 3.100€</p>

                        <div class="d-grid mt-3 border-top">
                            <button class="btn btn-primary" [ngxScrollTo]="'#contacto'">Más información</button>
                        </div>
                    </div>
                    
                  </div>
                </div>
             </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>

<!-- SECCION DE CONTACTO FINAL -->

<app-form-bottom id="contacto"></app-form-bottom>





   <!-- Subscribe Modal Content Start -->
   <ng-template #Subscribecontent let-modal>
    <div class="modal-content rounded shadow border-0">
      <div class="modal-body p-4" style="background: url('assets/images/illustrator/faq.svg') no-repeat;">
        <button type="button" class="btn-close float-end m-1" aria-label="Close" (click)="modal.dismiss('Cross click')">
        </button>
        <div class="clearfix"></div>
        <div class="container-fluid px-0">
          <div class="row align-items-center g-0">
            <div class="col-lg-6 offset-lg-6">
              <div class="pb-5 pt-4 px-4">
                <h4 >¿Quieres que te llamemos?</h4>

                <h6 class="text-muted">Dejanos tus datos y nos ponemos en contacto</h6>
                <!-- <p class="text-muted mb-0">Subscribe to the Landrick mailing list to receive updates on new
                  arrivals, special offers and our promotions.</p> -->
                <form class="mt-4">
                  <div class="row">

                    <div class="col-lg-12">
                      <div class="foot-subscribe mb-3">
                        <div class="form-icon position-relative">
                          <i-feather name="user" class="fea icon-sm icons"></i-feather>
                          <input type="email" name="name" id="daily-updates"
                            class="form-control ps-5 rounded" placeholder="Nombre : " required>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-12">
                      <div class="foot-subscribe mb-3">
                        <div class="form-icon position-relative">
                          <i-feather name="phone" class="fea icon-sm icons"></i-feather>
                          <input type="mail" name="email" id="daily-updates"
                            class="form-control ps-5 rounded" placeholder="Tlf : " required>
                        </div>
                      </div>
                    </div>
                    
                    <div class="col-lg-12">
                      <div class="foot-subscribe mb-3">
                        <div class="form-icon position-relative">
                          <i-feather name="mail" class="fea icon-sm icons"></i-feather>
                          <input type="mail" name="email" id="daily-updates"
                            class="form-control ps-5 rounded" placeholder="Email : " required>
                        </div>
                      </div>
                    </div>
                    <!--end col-->

                    <div class="col-lg-12">
                      <div class="d-grid">
                        <input type="submit" id="submitsubscribe" name="send" class="btn btn-primary"
                          value="Enviar">
                      </div>
                    </div>
                    <!--end col-->

                    <!-- <div class="col-12">
                      <div class="text-center">
                        <p class="mb-0 mt-3"><small class="text-dark me-2">Already have an account ?</small>
                          <a href="javascript:void(0)" class="text-dark fw-bold">Sign in</a>
                        </p>
                      </div>
                    </div> -->
                    <!--end col-->
                  </div>
                  <!--end row-->
                </form>
              </div>
            </div>
            <!--end col-->
          </div>
          <!--end row-->
        </div>
        <!--end container-->
      </div>
    </div>
  </ng-template>
  <!-- Modal Content End -->