<section 
        class="bg-half bg-light d-table w-100" 
        id="home"          
        style="background:url('{{imagePath}}/agencia-de-funnels-top.jpg') center center; background-size: cover; background-attachment: fixed; background-repeat: no-repeat;"
>
    <div class="container">
        <div class="row align-items-center bg-animation-left">
            <div class="col-md-6 col-12 " style="z-index: 1;">
                <div class="title-heading">
                    <span class="badge rounded-pill bg-soft-primary">Agencia Digital en Galicia</span>
                    <h1 class="fw-bold mt-2 mb-3">Agencia de Funnels de Venta</h1>
                    <p class="para-desc text-muted">¡Dale vida a tu negocio con nuestra Agencia de Funnels de Ventas! Con nuestros funnels automatizados, atraeremos más tráfico calificado a tu sitio web y lo convertiremos en clientes.</p>
                    <h3 class="fw-bold mt-2 mb-3">Servicio subvencionado hasta 2.000€ con el Programa Kit Digital</h3>
                    <div class="mt-4 pt-2">
                        <a [ngxScrollTo]="'#contacto'" class="btn btn-primary me-2"><i class="mdi mdi-rocket"> </i> Aumentar Ventas</a>
                    </div>
                    <!-- <p class="text-muted mb-0 mt-3">Current Version: v3.0.0</p> -->
                </div>
            </div>
            <!--end col-->

           
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>
<!--end section-->
<!-- Hero End -->

<!-- Shape Start -->
<div class="position-relative">
    <div class="shape overflow-hidden text-white">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
        </svg>
    </div>
</div>
<!--Shape End-->

<section class="section">
    <div class="container">
      <div class="row justify-content-center" style="max-width:1400px">
        <div class="col-lg-6 col-sm-12 text-align-left">

          <div class="section-title mb-4 pb-2">
            <h2 class="title mb-4">Aumenta tus ventas con nuestra Agencia de Funnels de Venta</h2>
            <p class="text-muted para-desc  mx-auto">
                <b>La Clave para Maximizar Tus Ingresos en Línea</b>
                en el mundo digital actual, uno de los mayores desafíos al que se enfrentan las empresas es cómo maximizar sus ingresos en línea. Una de las formas más efectivas de lograrlo es a través de la creación de funnels de alta conversión.
            </p>
            <p class="text-muted para-desc  mx-auto">
                Un funnel, o embudo de ventas, es un proceso que consiste en llevar al usuario a través de diferentes etapas con el objetivo de convertirlo en un cliente. Estas etapas incluyen la atracción, la captación de leads, la conversión y la fidelización.
            </p>
            <p class="text-muted para-desc mb-0 mx-auto">
                La creación de funnels de alta conversión es esencial para maximizar tus ingresos en línea, ya que te permite aprovechar al máximo el tráfico que recibes en tu sitio web. A continuación, te mostramos algunos pasos clave para crear funnels de alta conversión:</p>
            
            
            
              </div>
    
        

        
        </div>
        <!--end col-->

        <div class="col-sm-12 col-lg-6 pt-4">
          <div class="row">
            <div class="">
              <h4 class="title mb-4">Etapa 1: Atracción</h4>
              <p class="text-muted">La primera etapa en la creación de un funnel de alta conversión es la atracción de tráfico. Para lograrlo, es esencial tener una estrategia de contenido sólida que atraiga a tu audiencia objetivo. Esto puede incluir el uso de SEO, redes sociales y publicidad en línea.                
              </p>
              <p class="text-muted">Una vez que has atraído a tu audiencia, es importante asegurarte de que el contenido en tu sitio web es relevante y valioso para ellos. Esto puede incluir el uso de encuestas y análisis de datos para comprender mejor a tu audiencia.
              </p>
          </div> 
             <div class="">
              <h4 class="title mb-4">Etapa 2: Captación de leads
              </h4>
              <p class="text-muted">Una vez que has atraído a tu audiencia, es esencial captar sus datos de contacto. Esto se puede hacer a través de formularios de contacto, ofertas de contenido exclusivo y pruebas gratuitas.
              </p>
              <p class="text-muted">Una vez que tienes los datos de contacto de tus leads, es importante asegurarte de que estás llegando a ellos de manera regular. Esto puede incluir el uso de automatización de marketing para enviar correos electrónicos personalizados y relevantes.
              </p>
             </div>
             <div class="">
              <h4 class="title mb-4">Etapa 3: Conversión</h4>
              <p class="text-muted">La tercera etapa en la creación de un funnel de alta conversión es la conversión de tus leads en clientes. Esto se puede lograr a través de la creación de una experiencia de compra fluida y sin problemas en tu sitio web.</p>
             </div>
       
          </div>
          <div class="row align-items-center pt-4" >
            <div class="button">
                <a [ngxScrollTo]="'#contacto'" class="btn btn-primary">Vende más ahora</a>
            </div>
          </div>
     
        </div>
      </div>

   
      <!--end row-->
  
      <!--end row-->
    </div>
    
</section>

<section class="section ">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 text-center">
          <div class="section-title mb-4 pb-2">
            <h2 class="title mb-4">¿Que podemos ofrecerte como Agencia de Funnels?</h2>
            <p class="text-muted para-desc mb-0 mx-auto">Nuestra metodología se basa en cuatro pasos fundamentales: atracción, consideración, conversión y retención. Cada paso es esencial para asegurar el éxito de tu estrategia de marketing en línea.
            </p>
          </div>
        
        </div>
        <!--end col-->
      </div>
      <!--end row-->
  
      <div class="row">
        <div class="col-lg-3 col-md-4 mt-4 pt-2">
          <div
            class="card features fea-primary rounded p-4 bg-light text-center position-relative overflow-hidden border-0">
            <span class="h1 icon2 text-primary">
              <i class="uil uil-chart-line"></i>
            </span>
            <div class="card-body p-0 content">
              <h5>Experiencia en tu nicho</h5>
              <p class="para text-muted mb-0">Una agencia con experiencia en tu nicho específico será capaz de entender mejor tus necesidades y ofrecerte soluciones personalizadas.</p>
            </div>
            <span class="big-icon text-center">
              <i class="uil uil-chart-line"></i>
            </span>
          </div>
        </div>
        <!--end col-->
  
        <div class="col-lg-3 col-md-4 mt-4 pt-2">
          <div
            class="card features fea-primary rounded p-4 bg-light text-center position-relative overflow-hidden border-0">
            <span class="h1 icon2 text-primary">
              <i class="uil uil-crosshairs"></i>
            </span>
            <div class="card-body p-0 content">
              <h5>Metodología probada</h5>
              <p class="para text-muted mb-0">Asegúrate de que la agencia tenga una metodología probada y comprobada para maximizar el rendimiento de tu negocio en línea.</p>
            </div>
            <span class="big-icon text-center">
              <i class="uil uil-crosshairs"></i>
            </span>
          </div>
        </div>
        <!--end col-->
  
        <div class="col-lg-3 col-md-4 mt-4 pt-2">
          <div
            class="card features fea-primary rounded p-4 bg-light text-center position-relative overflow-hidden border-0">
            <span class="h1 icon2 text-primary">
              <i class="uil uil-airplay"></i>
            </span>
            <div class="card-body p-0 content">
              <h5>Comunicación clara y eficaz</h5>
              <p class="para text-muted mb-0">Es importante trabajar con una agencia que sea fácil de comunicar y dispuesta a escuchar tus necesidades y preocupaciones.</p>
            </div>
            <span class="big-icon text-center">
              <i class="uil uil-airplay"></i>
            </span>
          </div>
        </div>
        <!--end col-->
  
        <div class="col-lg-3 col-md-4 mt-4 pt-2">
          <div
            class="card features fea-primary rounded p-4 bg-light text-center position-relative overflow-hidden border-0">
            <span class="h1 icon2 text-primary">
              <i class="uil uil-rocket"></i>
            </span>
            <div class="card-body p-0 content">
              <h5>Flexibilidad</h5>
              <p class="para text-muted mb-0">Una buena agencia debe ser flexible y estar dispuesta a adaptarse a tus necesidades cambiantes.</p>
            </div>
            <span class="big-icon text-center">
              <i class="uil uil-rocket"></i>
            </span>
          </div>
        </div>
        <!--end col-->
  
       
        <!--end col-->
    
        <!--end col-->
      </div>

      <!--end row-->
    </div>
    
    
</section>


<section class="section">
  <div class="bg-half-170" style="background-image: url('{{imagePath}}/desarrollo-web-galicia.jpg');">
    
    <div class="container">
        <div class="rounded  bg-overlay bg-gradient p-lg-5 p-4">
          <div class="row align-items-center">

            <div class="col-md-12">
              <div class="section-title  text-center">
                <h2 class="title mb-3 text-white title-dark">No esperes más, aumenta tus ventas ahora</h2>
                <h5 class="text-white ">Todos estamos aqui por lo mismo, queremos vender más.</h5>
                <h5 class="text-white ">En cuanto contactes, nos pondremos a ello de inmediato.</h5>
              </div>
            </div>
            <!--end col-->
    
            <div class="col-12">
              <div class="text-center">
                <a [ngxScrollTo]="'#contacto'" class="btn btn-light m-4">Empezar ahora</a>
                <a href="tel:+34682047802" class="btn btn-light ">682 04 78 02</a>
              </div>
            </div>
            <!--end col-->
          </div>
          <!--end row-->
        </div>
      </div>
</div>

</section>



<section class="section">

    <!--end container-->
    <div class="container mt-100 mt-60">
        <div class="row text-align-left mb-40">
          <div class="col-lg-6 col-sm-12 order-sm-1">
            <div class="section-title mb-4 pb-2">
                <h2 class="title mb-4">Agencia de Funnels en Galicia </h2>
                <p class="text-muted para-desc ">En TecnoRia, nos esforzamos por ofrecerte un servicio integral que cubra todas estas necesidades. 
                </p>
                <p class="text-muted para-desc">Trabajamos con tí para diseñar una estrategia de embudos que se adapte a tus objetivos de negocio, y te ayudamos a implementarla mediante la optimización de tu sitio web, la creación de contenido atractivo y la publicidad en línea.
                </p>
                <p class="text-muted para-desc ">Además, te ofrecemos un seguimiento continuo y una atención personalizada para asegurarnos de que tu estrategia de embudos está funcionando al máximo rendimiento.
                </p>

                <div class="row align-items-center" >
                    <div class="button">
                        <a [ngxScrollTo]="'#contacto'" class="btn btn-primary">Vende más ahora</a>
                    </div>
                </div>

            </div>
          </div>
          <div class="col-lg-6 col-sm-12 mb-4">
            <div class=" pt-2">
                <img src="{{imagePath}}/agencia-de-funnels-2.jpg" class="rounded-lg img-fluid d-block mx-auto" alt="agencia-de-funnels-galicia">
              </div>
          </div>
          <!--end col-->
        </div>
        <!--end row-->
    
        <div class="row align-items-center pb-40">
          <ul ngbNav #nav="ngbNav" class="nav-pills flex-column rounded col-md-5 pr-0 bg-white">
            <li ngbNavItem class="bg-light rounded-md">
              <a ngbNavLink class="rounded">
                <div class="p-3 text-left">
                  <h5 class="title font-weight-bold">Diseño y Optimización de Funnels de Ventas</h5>
                  <p class="text tab-para mb-0">
                    Diseño de estrategias personalizadas para guiar a los usuarios a través del proceso de compra                  </p>
                </div>
              </a>
              <ng-template ngbNavContent>
                <div class="saas-feature-shape-right position-relative">
                    <div class="ms-lg-4">
                        <div class="section-title">
                            <span class="badge bg-soft-primary rounded-pill fw-bold">Agencia de Ecommerce</span>
                            <h4 class="title mb-4 mt-3">Optimización de tu sitio web y landing pages para maximizar las conversiones.
                            </h4>
                            <p class="text-muted para-desc">Si necesitas una tienda online personalizada para tu negocio, podemos ayudarte. Armamos tiendas virtuales que se adaptan a las necesidades de tu negocio, con un diseño moderno y atractivo, para que tus clientes tengan una experiencia de compra fluida y agradable.</p>
                        </div>
    
                        <div class="d-flex mt-4 pt-2">
                            <i class="uil uil-bullseye h5 text-primary"></i>
                            <div class="flex-1 ms-2">
                                <h5>Metodología probada ​</h5>
                                <p class="mb-0 text-muted"> Creación de tiendas virtuales adaptadas a las necesidades de tu negocio.</p>
                            </div>
                        </div>
    
                        <div class="d-flex mt-4 pt-2">
                            <i class="uil uil-create-dashboard h5 text-primary"></i>
                            <div class="flex-1 ms-2">
                                <h5>Experiencia de compra fluida​</h5>
                                <p class="mb-0 text-muted">Diseño y desarrollo para una experiencia de compra agradable para tus clientes.</p>
                            </div>
                        </div>
    
                        <div class="mt-4 pt-2">
                            <a [ngxScrollTo]="'#contacto'" target="_blank" class="btn btn-primary m-1">Aumentar Ventas <i
                                    class="uil uil-angle-right-b align-middle"></i></a>
                        </div>
                    </div>                
                </div>
              </ng-template>
            </li>
            <li ngbNavItem class="bg-light mt-4 rounded-md">
              <a ngbNavLink class="rounded">
                <div class="p-3 text-left">
                  <h5 class="title font-weight-bold">Optimización de Funnels de Ventas</h5>
                  <p class="text tab-para mb-0">Mejoramos tus embudos de venta.</p>
                </div>
              </a>
              <ng-template ngbNavContent>
                <div class="saas-feature-shape-right position-relative">
                    <div class="ms-lg-4">
                        <div class="section-title">
                            <span class="badge bg-soft-primary rounded-pill fw-bold">Agencia de Funnels de Venta</span>
                            <h4 class="title mb-4 mt-3">Mejora el rendimiento de tus funnels mediante la optimización de elementos clave</h4>
                            <p class="text-muted para-desc">Análisis y ajuste de elementos clave como el diseño de la página, el contenido y las ofertas para maximizar las conversiones. Realizamos un seguimiento continuo de las métricas y utilizamos herramientas de análisis para evaluar el rendimiento de los funnels y detectar oportunidades de mejora.</p>
                        </div>
    
                        <div class="d-flex mt-4 pt-2">
                            <i class="uil uil-bullseye h5 text-primary"></i>
                            <div class="flex-1 ms-2">
                                <h5>Seguimiento continuo​</h5>
                                <p class="mb-0 text-muted">Realizamos un seguimiento continuo de las métricas para detectar oportunidades de mejora.</p>
                            </div>
                        </div>
    
                        <div class="d-flex mt-4 pt-2">
                            <i class="uil uil-create-dashboard h5 text-primary"></i>
                            <div class="flex-1 ms-2">
                                <h5>Análisis de métricas​</h5>
                                <p class="mb-0 text-muted">Utilizamos herramientas de análisis para evaluar el rendimiento de los funnels y detectar oportunidades de mejora.</p>
                            </div>
                        </div>
    
                        <div class="mt-4 pt-2">
                            <a [ngxScrollTo]="'#contacto'" target="_blank" class="btn btn-primary m-1">Aumentar Ventas <i
                                    class="uil uil-angle-right-b align-middle"></i></a>
                        </div>
                    </div>  
                </div>
                            
               </ng-template>
            </li>
            <li ngbNavItem class="bg-light mt-4 rounded-md">
              <a ngbNavLink class="rounded">
                <div class="p-3 text-left">
                  <h5 class="title font-weight-bold">Publicidad en línea para Funnels de Ventas</h5>
                  <p class="text tab-para mb-0">Creacion de campañas publicitarias.</p>
                </div>
              </a>
              <ng-template ngbNavContent>
                <div class="saas-feature-shape-right position-relative">
                    <div class="ms-lg-4">
                        <div class="section-title">
                            <span class="badge bg-soft-primary rounded-pill fw-bold">Agencia de Funnels</span>
                            <h4 class="title mb-4 mt-3">Campañas publicitarias en línea para atraer a clientes potenciales a tus funnels de venta.</h4>
                            <p class="text-muted para-desc">Utilizamos diferentes plataformas publicitarias para llegar a tu público objetivo y aumentar el tráfico a tus funnels.</p>
                        </div>
    
                        <div class="d-flex mt-4 pt-2">
                            <i class="uil uil-bullseye h5 text-primary"></i>
                            <div class="flex-1 ms-2">
                                <h5>Experiencia en publicidad en línea​</h5>
                                <p class="mb-0 text-muted">Nuestro equipo tiene experiencia en la creación y optimización de campañas publicitarias en línea.</p>
                            </div>
                        </div>
    
                        <div class="d-flex mt-4 pt-2">
                            <i class="uil uil-create-dashboard h5 text-primary"></i>
                            <div class="flex-1 ms-2">
                                <h5>Conocimiento en diversas plataformas publicitarias</h5>
                                <p class="mb-0 text-muted">Utilizamos diferentes plataformas publicitarias para llegar a tu público objetivo.</p>
                            </div>
                        </div>
    
                        <div class="mt-4 pt-2">
                            <a [ngxScrollTo]="'#contacto'" target="_blank" class="btn btn-primary m-1">Aumentar Ventas<i
                                    class="uil uil-angle-right-b align-middle"></i></a>
                        </div>
                    </div>                
                </div>
              </ng-template>
            </li>
            <li ngbNavItem class="bg-light mt-4 rounded-md">
              <a ngbNavLink class="rounded">
                <div class="p-3 text-left">
                  <h5 class="title font-weight-bold">Asesoramiento y consultoría
                </h5>
                  <p class="text tab-para mb-0">Te ayudamos a aumentar el número de ventas.</p>
                </div>
              </a>
              <ng-template ngbNavContent>
                <div class="saas-feature-shape-right position-relative">
                    <div class="ms-lg-4">
                        <div class="section-title">
                            <span class="badge bg-soft-primary rounded-pill fw-bold"> Agencia de Funnels</span>
                            <h4 class="title mb-4 mt-3">Asesoramiento personalizado para ayudarte a maximizar el rendimiento de tus funnels de ventas</h4>
                            <p class="text-muted para-desc">Te brindamos una guía experta para adaptarte a las tendencias y cambios en el mercado y mejorar tus funnels de ventas.</p>
                        </div>
    
                        <div class="d-flex mt-4 pt-2">
                            <i class="uil uil-bullseye h5 text-primary"></i>
                            <div class="flex-1 ms-2">
                                <h5>Comunicación clara y eficaz</h5>
                                <p class="mb-0 text-muted">Nos aseguramos de mantener una comunicación clara y eficaz.</p>
                            </div>
                        </div>
    
                        <div class="d-flex mt-4 pt-2">
                            <i class="uil uil-create-dashboard h5 text-primary"></i>
                            <div class="flex-1 ms-2">
                                <h5>Flexibilidad en adaptarse a tus necesidades cambiantes</h5>
                                <p class="mb-0 text-muted">Estamos dispuestos a adaptarnos a tus necesidades cambiantes y brindarte un servicio personalizado.</p>
                            </div>
                        </div>
    
                        <div class="mt-4 pt-2">
                            <a [ngxScrollTo]="'#contacto'"target="_blank" class="btn btn-primary m-1">Aumentar Ventas <i
                                    class="uil uil-angle-right-b align-middle"></i></a>
                        </div>
                    </div>                
                </div>
              </ng-template>
            </li>
          
          </ul>
          <div [ngbNavOutlet]="nav" class="col-md-7 col-12 mt-4 pt-2"></div>
        </div>
        <!--end col-->
    </div>
      <!--end container-->
    


   
    <!--end container-->
</section>


<section class="section bg-light ">
  <div class="container mt-100 mt-60">
    <div class="row pt-md-5 justify-content-center">
      <div class="col-12">
        <div class="section-title text-center mb-4 pb-2">
          <h4 class="title mb-4">¿Sigues sin estar del todo convencido?</h4>
          <p class="text-muted para-desc mx-auto mb-0">Estos son algunos de los comentarios de nuestros clientes, juramos que no hemos malatrado a (casi) ninguno para conseguirlos. Esperamos que proximamente también figures entre nuestras reseñas positivas. </p>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->

    <app-testimonial [testimonialData]="testimonialData"></app-testimonial>
  </div>
</section>







<section class="section">

    <!-- 
      <div class="container ">
        <app-clients-logo></app-clients-logo>
      </div> -->
      <!--end container-->
    
      <div class="container mb-100 mb-60">
    
        <div class="row justify-content-center">
          <div class="col-12 text-center">
            <div class="section-title mb-4 pb-2">
              <h4 class="title mb-4">Preguntas frecuentes sobre Tecnoria, tu agencia de Ecommerce en Galicia</h4>
              <p class="text-muted para-desc mx-auto mb-0">¿Quieres saber más sobre cómo hacemos las cosas en Tecnoria? Hemos reunido algunas preguntas comunes para darte más información sobre Tecnoria y nuestros servicios como empresa de diseño web y marketing en Galicia.</p>
            </div>
          </div>
          <!--end col-->
        </div>
          <!--end col-->
          <div class="row align-items-center" >
            <div class="col-md-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
              <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0" closeOthers="true">
                <ngb-panel *ngFor="let faq of faqList.slice(0, 4)" cardClass="border-0 rounded shadow mb-2">
                  <ng-template ngbPanelTitle>
                    <div class="border-0 bg-light">
                      <h6 class="title mb-0 text-dark">{{ faq.question }}</h6>
                    </div>
                  </ng-template>
                  <ng-template ngbPanelContent>
                    <p class="text-muted mb-0 faq-ans">{{ faq.answer }}</p>
                  </ng-template>
                </ngb-panel>
              </ngb-accordion>
            </div>
            <div class="col-md-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
              <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0" closeOthers="true">
                <ngb-panel *ngFor="let faq of faqList.slice(4, 8)" cardClass="border-0 rounded shadow mb-2">
                  <ng-template ngbPanelTitle>
                    <div class="border-0 bg-light">
                      <h6 class="title mb-0 text-dark">{{ faq.question }}</h6>
                    </div>
                  </ng-template>
                  <ng-template ngbPanelContent>
                    <p class="text-muted mb-0 faq-ans">{{ faq.answer }}</p>
                  </ng-template>
                </ngb-panel>
              </ngb-accordion>
                    
            </div>
          </div>
          
          <!--end col-->
        </div>
        <!--end row-->
    
    
        <!--end row-->
      <!--end container-->
    </section>
    <!--end section-->
    
    
<!-- SECCION DE CONTACTO FINAL -->
<app-form-bottom id="contacto"></app-form-bottom>

  



   <!-- Subscribe Modal Content Start -->
   <ng-template #Subscribecontent let-modal>
    <div class="modal-content rounded shadow border-0">
      <div class="modal-body p-4" style="background: url('assets/images/illustrator/faq.svg') no-repeat;">
        <button type="button" class="btn-close float-end m-1" aria-label="Close" (click)="modal.dismiss('Cross click')">
        </button>
        <div class="clearfix"></div>
        <div class="container-fluid px-0">
          <div class="row align-items-center g-0">
            <div class="col-lg-6 offset-lg-6">
              <div class="pb-5 pt-4 px-4">
                <h4 >¿Quieres que te llamemos?</h4>

                <h6 class="text-muted">Dejanos tus datos y nos ponemos en contacto</h6>
                <!-- <p class="text-muted mb-0">Subscribe to the Landrick mailing list to receive updates on new
                  arrivals, special offers and our promotions.</p> -->
                <form class="mt-4">
                  <div class="row">

                    <div class="col-lg-12">
                      <div class="foot-subscribe mb-3">
                        <div class="form-icon position-relative">
                          <i-feather name="user" class="fea icon-sm icons"></i-feather>
                          <input type="email" name="name" id="daily-updates"
                            class="form-control ps-5 rounded" placeholder="Nombre : " required>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-12">
                      <div class="foot-subscribe mb-3">
                        <div class="form-icon position-relative">
                          <i-feather name="phone" class="fea icon-sm icons"></i-feather>
                          <input type="mail" name="email" id="daily-updates"
                            class="form-control ps-5 rounded" placeholder="Tlf : " required>
                        </div>
                      </div>
                    </div>
                    
                    <div class="col-lg-12">
                      <div class="foot-subscribe mb-3">
                        <div class="form-icon position-relative">
                          <i-feather name="mail" class="fea icon-sm icons"></i-feather>
                          <input type="mail" name="email" id="daily-updates"
                            class="form-control ps-5 rounded" placeholder="Email : " required>
                        </div>
                      </div>
                    </div>
                    <!--end col-->

                    <div class="col-lg-12">
                      <div class="d-grid">
                        <input type="submit" id="submitsubscribe" name="send" class="btn btn-primary"
                          value="Enviar">
                      </div>
                    </div>
                    <!--end col-->

                    <!-- <div class="col-12">
                      <div class="text-center">
                        <p class="mb-0 mt-3"><small class="text-dark me-2">Already have an account ?</small>
                          <a href="javascript:void(0)" class="text-dark fw-bold">Sign in</a>
                        </p>
                      </div>
                    </div> -->
                    <!--end col-->
                  </div>
                  <!--end row-->
                </form>
              </div>
            </div>
            <!--end col-->
          </div>
          <!--end row-->
        </div>
        <!--end container-->
      </div>
    </div>
  </ng-template>
  <!-- Modal Content End -->