.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: var(--bs-font-sans-serif);
    line-height: 1.4;
    font-weight: 600;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.h4{
    font-size: 1.25rem;
}


p{
    margin-bottom: 1.66666666em !important;
}