<!-- Hero Start -->
<section
  class="bg-half-170 d-table w-100 bg-light bg-half-170"
  style="background: url('{{ imagePath }}diseño-web-app-top.jpg'); 
  background-size: cover; background-attachment: fixed; background-repeat: no-repeat;"
  id="home"
>
  <div class="container">
    <div class="row align-items-center bg-animation-left">
      <div class="col-lg-7 col-md-6 col-12" style="z-index: 1">
        <div class="title-heading">
          <h6 class="text-dark-50">IT Software & Design</h6>
          <h1 class="fw-bold title-dark mt-2 mb-3">
            Diseñamos App<br />
            a Medida.
          </h1>
          <p class="para-desc text-muted">
            Diseñamos y desarrollamos aplicaciones Aplicaciones Web a medida,
            con las últimas tecnologías y metodologías de desarrollo. Diseño en
            base a las necesidades de nuestros clientes, con un diseño moderno y
            atractivo.
          </p>
          <div class="mt-4 pt-2">
            <a [ngxScrollTo]="'#contacto'" class="btn btn-primary m-1"
              ><i class="uil uil-create-dashboard"></i> Solicita Presupuesto</a
            >
          </div>
        </div>
      </div>
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>
<!--end section-->
<!-- Hero End -->

<!-- Start Features -->
<section class="py-4 bg-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-3 col-md-6 col-12">
        <div class="d-flex features pt-4 pb-4">
          <div
            class="icon text-center rounded-circle text-primary me-3 h5 mb-0"
          >
            <i class="uil uil-analytics text-primary"></i>
          </div>
          <div class="flex-1">
            <h4 class="title">Investigación y planificación</h4>
            <p class="text-muted para mb-0">
              Recopilamos toda la información necesaria para el desarrollo de la
              aplicación.
            </p>
          </div>
        </div>
      </div>
      <!--end col-->

      <div class="col-lg-3 col-md-6 col-12">
        <div class="d-flex features pt-4 pb-4">
          <div
            class="icon text-center rounded-circle text-primary me-3 h5 mb-0"
          >
            <i class="uil uil-airplay text-primary"></i>
          </div>
          <div class="flex-1">
            <h4 class="title">Diseño de la experiencia de usuario</h4>
            <p class="text-muted para mb-0">
              Diseñamos la experiencia de usuario para que sea lo más intuitiva
              posible.
            </p>
          </div>
        </div>
      </div>
      <!--end col-->

      <div class="col-lg-3 col-md-6 col-12">
        <div class="d-flex features pt-4 pb-4">
          <div
            class="icon text-center rounded-circle text-primary me-3 h5 mb-0"
          >
            <i class="uil uil-clapper-board text-primary"></i>
          </div>
          <div class="flex-1">
            <h4 class="title">Desarrollo y programación</h4>
            <p class="text-muted para mb-0">
              Desarrollamos la aplicación para que sea lo más funcional posible.
            </p>
          </div>
        </div>
      </div>
      <!--end col-->

      <div class="col-lg-3 col-md-6 col-12">
        <div class="d-flex features pt-4 pb-4">
          <div
            class="icon text-center rounded-circle text-primary me-3 h5 mb-0"
          >
            <i class="uil uil-users-alt text-primary"></i>
          </div>
          <div class="flex-1">
            <h4 class="title">Pruebas y mantenimiento</h4>
            <p class="text-muted para mb-0">
              Realizamos pruebas de la aplicación y mantenemos la aplicación
              para que esté siempre actualizada.
            </p>
          </div>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>
<!--end section-->
<!-- End Features -->

<!-- Start -->
<section class="section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-6">
        <div class="row align-items-center">
          <div class="col-12">
            <div
              class="card work-container work-modern overflow-hidden rounded border-0 shadow-md"
            >
              <div class="card-body p-0">
                <img
                  src="{{ imagePath }}diseño-web-app-1.jpg"
                  class="img-fluid"
                  alt="work-image"
                />
                <div class="overlay-work bg-dark"></div>
                <div class="content">
                  <a
                    [ngxScrollTo]="'#contacto'"
                    class="title text-white d-block fw-bold"
                    >Diseño de Aplicaicones Web</a
                  >
                  <small class="text-light">IT & Software</small>
                </div>
              </div>
            </div>
          </div>
          <!--end col-->

          <!--end col-->
        </div>
        <!--end row-->
      </div>
      <!--end col-->

      <div class="col-lg-6 col-md-6 mt-4 mt-lg-0 pt- pt-lg-0">
        <div class="ms-lg-4">
          <div class="section-title">
            <span class="badge bg-soft-primary rounded-pill fw-bold"
              >About us</span
            >
            <h2 class="title mb-4 mt-3">
              ¿Por qué elegirnos para tu proyecto de diseño de aplicaciones web?
            </h2>
            <p class="text-muted para-desc">
              Ofrecemos un servicio de diseño de aplicaciones web de alta
              calidad y personalizado que garantiza el éxito de tu proyecto.
              Nuestro equipo de expertos utiliza las últimas tecnologías y
              tendencias en diseño para crear aplicaciones atractivas y fáciles
              de usar. Además, nos esforzamos por comprender tus necesidades y
              objetivos para brindarte un diseño personalizado y único.
            </p>
            <p class="text-muted para-desc mb-0">
              Confía en nosotros para el diseño de tu aplicación web y
              experimenta la diferencia. Contáctanos hoy mismo para obtener más
              información sobre nuestro servicio de diseño de aplicaciones web.
            </p>
          </div>

          <div class="d-flex mt-4 pt-2">
            <i class="uil uil-bullseye h5 text-primary"></i>
            <div class="flex-1 ms-2">
              <h5>Uso de las últimas tecnologías y tendencias en diseño​</h5>
              <p class="mb-0 text-muted">
                Ofrecemos un servicio de diseño de aplicaciones web de alta
                calidad y personalizado que garantiza el éxito de tu proyecto.
                Nuestro equipo de expertos utiliza las últimas tecnologías y
                tendencias en diseño para crear aplicaciones atractivas y
                fáciles de usar. Además, nos esforzamos por comprender tus
                necesidades y objetivos para brindarte un diseño personalizado y
                único.
              </p>
            </div>
          </div>

          <div class="d-flex mt-4 pt-2">
            <i class="uil uil-create-dashboard h5 text-primary"></i>
            <div class="flex-1 ms-2">
              <h5>Compatibilidad con dispositivos y navegadores​</h5>
              <p class="mb-0 text-muted">
                Garantizamos que tu aplicación web sea compatible con todos los
                dispositivos y navegadores. Nuestro equipo de expertos utiliza
                las últimas tecnologías y tendencias en diseño para crear
                aplicaciones atractivas y fáciles de usar. Además, nos
                esforzamos por comprender tus necesidades y objetivos para
                brindarte un diseño personalizado y único.
              </p>
            </div>
          </div>

          <div class="mt-4 pt-2">
            <a
              [ngxScrollTo]="'#contacto'"
              target="_blank"
              class="btn btn-primary m-1"
              >Contactar <i class="uil uil-angle-right-b align-middle"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
    <!--end row-->
  </div>
  <!--end container-->

  <div class="container mt-100 mt-60">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <div class="section-title mb-4 pb-2">
          <h4 class="title mb-4">
            Tecnologías empleadas en el diseño de aplicaciones web
          </h4>
          <p class="text-muted para-desc mx-auto mb-0">
            El diseño de aplicaciones web se ha vuelto cada vez más complejo y
            tecnológico en los últimos años, con una gran cantidad de
            herramientas y tecnologías disponibles para ayudar a los
            desarrolladores a crear aplicaciones increíbles y eficientes. Aquí
            hay una lista de 9 tecnologías comúnmente utilizadas en el diseño de
            aplicaciones web
          </p>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->

    <div class="row">
      <div class="col-lg-4 col-md-6 mt-4 pt-2">
        <div
          class="d-flex key-feature align-items-center p-3 rounded-pill shadow"
        >
          <div class="icon text-center rounded-circle me-3">
            <img
              src="assets/images/iconos-svg/html.svg"
              class="avatar avatar-ex-sm"
              alt="diseño-web-html"
            />
          </div>
          <div class="flex-1">
            <h4 class="title mb-0">HTML y CSS</h4>
          </div>
        </div>
      </div>
      <!--end col-->

      <div class="col-lg-4 col-md-6 mt-4 pt-2">
        <div
          class="d-flex key-feature align-items-center p-3 rounded-pill shadow"
        >
          <div class="icon text-center rounded-circle me-3">
            <img
              src="assets/images/iconos-svg/javascript.svg"
              class="avatar avatar-ex-sm"
              alt="diseño-web-javascript"
            />
          </div>
          <div class="flex-1">
            <h4 class="title mb-0">JavaScript</h4>
          </div>
        </div>
      </div>
      <!--end col-->

      <div class="col-lg-4 col-md-6 mt-4 pt-2">
        <div
          class="d-flex key-feature align-items-center p-3 rounded-pill shadow"
        >
          <div class="icon text-center rounded-circle me-3">
            <img
              src="assets/images/iconos-svg/react.svg"
              class="avatar avatar-ex-sm"
              alt="diseño-web-react"
            />
          </div>
          <div class="flex-1">
            <h4 class="title mb-0">React</h4>
          </div>
        </div>
      </div>
      <!--end col-->

      <div class="col-lg-4 col-md-6 mt-4 pt-2">
        <div
          class="d-flex key-feature align-items-center p-3 rounded-pill shadow"
        >
          <div class="icon text-center rounded-circle me-3">
            <img
              src="assets/images/iconos-svg/vue.svg"
              class="avatar avatar-ex-sm"
              alt="diseño-web-vue"
            />
          </div>
          <div class="flex-1">
            <h4 class="title mb-0">Vue.js</h4>
          </div>
        </div>
      </div>
      <!--end col-->

      <div class="col-lg-4 col-md-6 mt-4 pt-2">
        <div
          class="d-flex key-feature align-items-center p-3 rounded-pill shadow"
        >
          <div class="icon text-center rounded-circle me-3">
            <img
              src="assets/images/iconos-svg/angular.svg"
              class="avatar avatar-ex-sm"
              alt="diseño-web-angular"
            />
          </div>
          <div class="flex-1">
            <h4 class="title mb-0">Angular</h4>
          </div>
        </div>
      </div>
      <!--end col-->

      <div class="col-lg-4 col-md-6 mt-4 pt-2">
        <div
          class="d-flex key-feature align-items-center p-3 rounded-pill shadow"
        >
          <div class="icon text-center rounded-circle me-3">
            <img
              src="assets/images/iconos-svg/rubyonrails.svg"
              class="avatar avatar-ex-sm"
              alt="diseño-web-rubyonrails"
            />
          </div>
          <div class="flex-1">
            <h4 class="title mb-0">Ruby on Rails</h4>
          </div>
        </div>
      </div>
      <!--end col-->

      <div class="col-lg-4 col-md-6 mt-4 pt-2">
        <div
          class="d-flex key-feature align-items-center p-3 rounded-pill shadow"
        >
          <div class="icon text-center rounded-circle me-3">
            <img
              src="assets/images/iconos-svg/laravel.svg"
              class="avatar avatar-ex-sm"
              alt="diseño-web-laravel"
            />
          </div>
          <div class="flex-1">
            <h4 class="title mb-0">Laravel</h4>
          </div>
        </div>
      </div>
      <!--end col-->

      <div class="col-lg-4 col-md-6 mt-4 pt-2">
        <div
          class="d-flex key-feature align-items-center p-3 rounded-pill shadow"
        >
          <div class="icon text-center rounded-circle me-3">
            <img
              src="assets/images/iconos-svg/nodejs.svg"
              class="avatar avatar-ex-sm"
              alt="diseño-web-node"
            />
          </div>
          <div class="flex-1">
            <h4 class="title mb-0">Node.js</h4>
          </div>
        </div>
      </div>
      <!--end col-->

      <div class="col-lg-4 col-md-6 mt-4 pt-2">
        <div
          class="d-flex key-feature align-items-center p-3 rounded-pill shadow"
        >
          <div class="icon text-center rounded-circle me-3">
            <img
              src="assets/images/iconos-svg/sql.svg"
              class="avatar avatar-ex-sm"
              alt="diseño-web-sql"
            />
          </div>
          <div class="flex-1">
            <h4 class="title mb-0">SQL</h4>
          </div>
        </div>
      </div>
      <!--end col-->

      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>
<!--end section-->
<!-- End -->

<!-- Start -->
<section class="section">
  <div
    class="bg-half-170"
    style="
      background-image: url('assets/images/marketing/agencia-marketing-contenidos-2.jpg');
    "
  >
    <div class="container">
      <div class="rounded bg-overlay bg-gradient p-lg-5 p-4">
        <div class="row align-items-center">
          <div class="col-md-12">
            <div class="section-title text-center">
              <h2 class="title mb-3 text-white title-dark">
                Transforma tu negocio con nuestro Diseño de Aplicaciones WEeb de
                alta calidad
              </h2>
              <h5 class="text-white">
                ¿Listo para dar un paso adelante y destacar en tu industria?
                Nosotros si.
              </h5>
              <h5 class="text-white">
                ¡Haz clic aquí para empezar a jugar en la liga mayor!
              </h5>
            </div>
          </div>
          <!--end col-->

          <div class="col-12">
            <div class="text-center">
              <a [ngxScrollTo]="'#contacto'" class="btn btn-light m-4"
                >Empezar ahora</a
              >
              <a href="tel:+34682047802" class="btn btn-light">682 04 78 02</a>
            </div>
          </div>
          <!--end col-->
        </div>
        <!--end row-->
      </div>
    </div>
  </div>
</section>

<!--end section-->
<!-- End section -->

<!-- Start -->
<section class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <div class="section-title mb-4 pb-2">
          <h4 class="title mb-4">Nuestro Blog</h4>
          <p class="text-muted para-desc mx-auto mb-0">
            Nuestro Blog es una de las partes más importantes de nuestra web, ya
            que es donde publicamos noticias, artículos y tutoriales sobre
            tecnología, programación, diseño web, etc.
          </p>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->

    <app-blog [blogData]="blogData"></app-blog>
  </div>
  <!--end container-->
</section>
<!--end section-->
<!-- End -->

<!-- SECCION DE CONTACTO FINAL -->

<app-form-bottom id="contacto"></app-form-bottom>

<!-- Back to top -->

<!-- Back to top -->
