<!-- Hero Start -->
<section 
    class="bg-half-260 d-table w-100 top-image" 
    style="background: url('assets/images/contacto/tecnoria-vigo.jpg')center; background-size: cover; background-attachment: fixed; background-repeat: no-repeat;"
    id="home"
>
    <div class="container">
        <div class="row align-items-center bg-animation-left">
            <div class="col-lg-7 col-md-6 col-12" style="z-index: 1;">
          <div class="pages-heading title-heading">
            <h6 class="text-dark-50">Soluciones Digitales</h6>
            <h1 class="fw-bold text-darktitle-dark mt-2 mb-3"> Nosotros </h1>
            <p class="para-desc text-dark-50">
              <!-- Empresa dedicada al diseño web -->
              Somos una empresa dedicada al diseño web, desarrollo de aplicaciones móviles y marketing digital.Si estas buscando una empresa que te ayude a crecer en el mundo digital, nosotros somos tu mejor opción.
            </p>
            <div class="mt-4 pt-2">
              <a [ngxScrollTo]="'#contacto'" class="btn btn-light m-1">
                <i class="uil uil-create-dashboard"></i> Clik y Hablamos</a>
          
          </div>
          </div>
        </div><!--end col-->
      </div><!--end row-->
    </div> <!--end container-->
  </section><!--end section-->
  
  <div class="position-relative">
    <div class="shape overflow-hidden text-color-white">
      <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
      </svg>
    </div>
  </div>
  <!-- Hero End -->
  
  <section class="section">
    <div class="container">
      <div class="row align-items-center" id="counter">
        <div class="col-md-6">
          <img src="assets/images/company/about2.png" class="img-fluid" alt="">
        </div>
        <!--end col-->
  
        <div class="col-md-6 mt-4 pt-2 mt-sm-0 pt-sm-0">
          <div class="ms-lg-4">
            <div class="d-flex mb-4">
              <span class="text-dark h1 mb-0"><span class="counter-value display-1 fw-bold" [CountTo]="8" [from]="0"
                  [duration]="4"></span>+</span>
              <span class="h6 align-self-end ms-2">Años de<br> Experiencia</span>
            </div>
            <div class="section-title">
              <h4 class="title mb-4">TecnoRia ¿Quienes somos?</h4>
              <p class="text-muted">
                Tecnoria es una agencia de diseño web con sede en Vigo, España. 
              </p>
              <p class="text-muted">
                Nos especializamos en brindar soluciones integrales de diseño web, marketing digital y desarrollo de aplicaciones a pequeñas y grandes empresas.
              </p>
              <p class="text-muted">
                Desde su fundacion en el año 2015, TecnoRia se ha dedicado a ayudar a sus clientes a maximizar su presencia en linea y a alcanzar sus objetivos de negocio a través de una combinacion
                de diseño web atractivo y estrategias de marketing digital efectivas.
              </p>
              <a href="javascript:void(0)" class="btn btn-primary mt-3">Contactar</a>
            </div>
          </div>
        </div>
        <!--end col-->
      </div>
      <!--end row-->
    </div>
    <!--end container-->
  
    <div class="container mt-5">
      <app-clients-logo brand_class="col-lg-2 col-md-2 col-6 text-center pt-4"></app-clients-logo>
    </div>
    <!--end container-->
  </section>
  <!--end section-->
  
  <section class="section bg-light">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <div class="section-title text-center mb-4 pb-2">
            <h6 class="text-primary">Nuestro Proceso</h6>
            <h4 class="title mb-4">¿Por qué TecnoRia?</h4>
            <p class="text-muted para-desc mx-auto mb-0">
              Nuestro equipo está compuesto por profesionales altamente capacitados y experimentados en el mundo digital, incluyendo diseñadores, desarrolladores, marketeros y expertos en SEO. Todos nuestros miembros del equipo tienen años de experiencia en el desarrollo de soluciones en línea de alta calidad y han trabajado en proyectos para una amplia variedad de industrias
            </p>
          </div>
        </div>
        <!--end col-->
      </div>
      <!--end row-->
  
      <div class="row">
        <div class="col-md-4 mt-4 pt-2">
          <div class="card features feature-clean work-process bg-transparent process-arrow border-0 text-center">
            <div class="icons text-primary text-center mx-auto">
              <i class="uil uil-presentation-edit d-block rounded h3 mb-0"></i>
            </div>
  
            <div class="card-body">
              <h5 class="text-dark">Experiencia y Expertise</h5>
              <p class="text-muted mb-0">
                Nuestro equipo tiene años de experiencia en el desarrollo de soluciones en línea de alta calidad y ha trabajado en proyectos para una amplia variedad de industrias. Estamos comprometidos con brindar a nuestros clientes un servicio excepcional y soluciones eficientes y efectivas.
              </p>
            </div>
          </div>
        </div>
        <!--end col-->
  
        <div class="col-md-4 mt-md-5 pt-md-3 mt-4 pt-2">
          <div class="card features feature-clean work-process bg-transparent process-arrow border-0 text-center">
            <div class="icons text-primary text-center mx-auto">
              <i class="uil uil-airplay d-block rounded h3 mb-0"></i>
            </div>
  
            <div class="card-body">
              <h5 class="text-dark">Enfoque en el Cliente
              </h5>
              <p class="text-muted mb-0">
                Nos enfocamos en entender los objetivos y necesidades de nuestros clientes para desarrollar soluciones en línea que los ayuden a alcanzarlos. Trabajamos estrechamente con nuestros clientes para asegurarnos de que estén completamente satisfechos con el resultado final.
              </p>
            </div>
          </div>
        </div>
        <!--end col-->
  
        <div class="col-md-4 mt-md-5 pt-md-5 mt-4 pt-2">
          <div class="card features feature-clean work-process bg-transparent d-none-arrow border-0 text-center">
            <div class="icons text-primary text-center mx-auto">
              <i class="uil uil-image-check d-block rounded h3 mb-0"></i>
            </div>
  
            <div class="card-body">
              <h5 class="text-dark">Soporte Continuo
              </h5>
              <p class="text-muted mb-0">Ofrecemos soporte continuo a nuestros clientes para asegurarnos de que sus soluciones en línea estén funcionando de manera eficiente y efectiva. Nos esforzamos por mantener una comunicación abierta y honesta con nuestros clientes para garantizar su satisfacción a largo plazo.</p>
            </div>
          </div>
        </div>
        <!--end col-->
      </div>
      <!--end row-->
    </div>
    <!--end container-->
  
    
    <!--end container-->
  </section>
  <!--end section-->
  <section class="section">
    <div class="container mt-100 mt-60">
      <div class="row align-items-end mb-4 pb-4">
        <div class="col-md-8">
          <div class="section-title text-md-left">
            <h6 class="text-primary">Servicios</h6>
            <h4 class="title mb-4">¿Por qué elegirnos como su Agencia de Diseño Web?</h4>
            <p class="text-muted  para-desc">En TecnoRia, nos enorgullece ofrecer un servicio único y personalizado a cada uno de nuestros clientes. Con más de [años de experiencia] en el campo, hemos desarrollado un enfoque probado y efectivo para el diseño web que nos permite brindar soluciones eficaces y de alta calidad a nuestros clientes.</p>
            <p class="text-muted  para-desc">
              Como líderes en el mercado, ofrecemos una amplia gama de servicios de diseño web para ayudar a nuestros clientes a mejorar su presencia en línea y alcanzar sus objetivos comerciales. 
            <p class="text-muted para-desc">
              Algunos de nuestros servicios incluyen:
            </p>
    
            <ul class="list-unstyled text-muted">
              <li class="mb-0">
                <a href="/agencia-de-desarrollo-web">
                  <span class="text-dark h5 me-2">
                    <i class="uil uil-check-circle align-middle"></i>
                    Desarrollo de sitios web personalizados y responsivos
                  </span>
                </a>
              </li>
              <li>
                <a href="/diseño-web-app">
                  <span class="text-dark h5 me-2">
                    <i class="uil uil-check-circle align-middle"></i>
                    Desarrollo de aplicaciones web
                  </span>
                </a>
                
              </li>
              <li>
                <a href="/agencia-de-ecommerce">
                  <span class="text-dark h5 me-2">
                    <i class="uil uil-check-circle align-middle"></i>
                      Desarrollo de tiendas en línea
                  </span>
                </a>
              </li>
              <li>
                <a href="/gestion-redes-sociales">
                  <span class="text-dark h5 me-2">
                    <i class="uil uil-check-circle align-middle"></i>
                    Gestión de redes sociales
                  </span>
                </a >
              </li>
              <li>
                <a href="/agencia-addwords">
                  <span class="text-dark h5 me-2">
                    <i class="uil uil-check-circle align-middle"></i>
                    Campañas en Google Addwords
                  </span>
                </a>
              </li>
              <li>
                <a href="/posicionamiento-seo-empresas">
                  <span class="text-dark h5 me-2">
                    <i class="uil uil-check-circle align-middle"></i>
                    Optimización de motores de búsqueda (SEO)
                  </span>
                </a>
              </li>
              <li>
                <a href="/agencia-marketing-contenidos">
                  <span class="text-dark h5 me-2">
                    <i class="uil uil-check-circle align-middle"></i>
                    Marketing de contenido 
                  </span>
                </a>
              </li>
            </ul>
            <p class="text-muted">
              Nuestro objetivo es brindar a nuestros clientes un servicio integral que abarque todas las necesidades de su presencia en línea. Trabajamos de manera colaborativa con nuestros clientes para comprender sus objetivos y desafíos, y desarrollar soluciones personalizadas para lograrlos.
            </p>
          </div>
        </div>
        <!--end col-->
        <div class="col-md-4 mt-4 pt-2 mt-sm-0 pt-sm-0">
          <img src="assets/images/company/about2.png" class="img-fluid" alt="">
        </div>
      </div>
    </div>
  </section>
 

  <section class="section bg-light" id="contacto">
    <div class="container ">
      <div class="row pt-md-5 justify-content-center">
        <div class="col-12">
          <div class="section-title text-center mb-4 pb-2">
            <h2 class="title mb-4">Contacta con Nosotros </h2>
            <h4 class="mb-4">Responderemos en el Menor Tiempo Posible</h4>
            <p class="text-muted para-desc mx-auto mb-0">
              En nuestra agencia de diseño web, nos esforzamos por brindar a nuestros clientes soluciones en línea eficientes y atractivas que les ayuden a alcanzar sus objetivos en línea. Con un equipo altamente capacitado y experimentado, un enfoque en el cliente y tecnología avanzada, estamos comprometidos con brindar un servicio excepcional a todos nuestros clientes. ¡Contáctanos hoy mismo para saber cómo podemos ayudarte a alcanzar tus objetivos en línea!
            </p>
          </div>
        </div>
  
        <div class="col-12">
          <div class="custom-form">
            <form action="">
              <div class="row">
                <div class="col-6">
                  <div class="mb-3">
                    <label for="name" class="form-label">Nombre Completo</label>
                    <div class="form-icon position-relative">
                      <i-feather class="fea icon-sm icons" name="user"></i-feather>
                      <input type="text" name="name" id="name" placeholder="Nombre Completo" class="form-control ps-5">
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="mb-3">
                    <label for="name" class="form-label">Empresa</label>
                    <div class="form-icon position-relative">
                      <i-feather class="fea icon-sm icons" name="user"></i-feather>
                      <input type="text" name="name" id="name" placeholder="Empresa" class="form-control ps-5">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <div class="mb-3">
                    <label for="name" class="form-label">Email de Contacto</label>
                    <div class="form-icon position-relative">
                      <i-feather class="fea icon-sm icons" name="mail"></i-feather>
                      <input type="text" name="mail" id="name" placeholder="Email" class="form-control ps-5">
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="mb-3">
                    <label for="name" class="form-label">Teléfono de Contacto</label>
                    <div class="form-icon position-relative">
                      <i-feather class="fea icon-sm icons" name="phone"></i-feather>
                      <input type="text" name="phone" id="name" placeholder="Telefono" class="form-control ps-5">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="mb-3">
                    <label for="name" class="form-label">¿Qué servicio estas buscando?</label>
                    <div class="form-icon position-relative">
                      <i-feather class="fea icon-sm icons" name="phone"></i-feather>
                      <input type="text" name="phone" id="name" placeholder="Telefono" class="form-control ps-5">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="mb-3">
                    <label for="name" class="form-label">Cuentanos más sobre tu proyecto</label>
                    <div class="form-icon position-relative">
                      <i-feather class="fea icon-sm icons" name="phone"></i-feather>
                      <textarea type="text" name="phone" id="name" placeholder="Cuentanos todo lo que creas necesario sobre tu proyecto" class="form-control ps-5"></textarea>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="d-grid">
                    <button type="submit" id="submit" name="send" class="btn btn-primary">Enviar Mensaje</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!--end col-->
      </div>
      <!--end row-->
  
    </div>
  </section>
  
  <!-- Back to top -->
  <a href="javascript: void(0);" class="btn btn-icon btn-primary back-to-top" id="back-to-top" [ngxScrollTo]="'#home'">
    <i-feather name="arrow-up" class="icons"></i-feather>
  </a>
  <!-- Back to top -->