<!-- Hero Start -->
<section class="bg-half bg-light d-table w-100" id="home">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 col-12">
        <div class="title-heading">
          <span class="badge rounded-pill bg-soft-primary"
            >Servicios Digitales</span
          >
          <h1 class="fw-bold mt-2 mb-3">
            CRM <br />
            Gestión de Clientes
          </h1>
          <p class="para-desc text-muted">
            Cierra tu ciclo de ventas y contactos con mayor eficacia, automatiza
            facilmente tus procesos y agiliza la comunicación con tus clientes.
          </p>
          <h3 class="fw-bold mt-2 mb-3">
            Servicio subvencionado hasta 4.000€ con el Programa Kit Digital
          </h3>
          <div class="mt-4 pt-2">
            <a [ngxScrollTo]="'#contacto'" class="btn btn-primary me-2"
              ><i class="mdi mdi-email"> </i> Contacta</a
            >
            <a
              (click)="subscribeOpen(Subscribecontent)"
              class="btn btn-outline-primary"
              ><i class="mdi mdi-phone"> </i> Te llamamos</a
            >
          </div>
          <!-- <p class="text-muted mb-0 mt-3">Current Version: v3.0.0</p> -->
        </div>
      </div>
      <!--end col-->

      <div class="col-md-6 mt-4 pt-2 mt-sm-0 pt-sm-0">
        <img
          src="assets/images/integration/hero.png"
          class="img-fluid d-block mx-auto"
          alt=""
        />
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>
<!--end section-->
<!-- Hero End -->

<!-- Shape Start -->
<div class="position-relative">
  <div class="shape overflow-hidden text-white">
    <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z"
        fill="currentColor"
      ></path>
    </svg>
  </div>
</div>
<!--Shape End-->

<section class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <div class="section-title mb-4 pb-2">
          <h4 class="title mb-4">Gestión de Clientes - CRM</h4>
          <p class="text-muted para-desc mb-0 mx-auto">
            Gracias a la financiación del
            <span class="text-primary fw-bold">Kit Digital</span> podrás
            automatizar y centralizar todos los procesos de venta y labores
            comerciales de una forma sencilla:
          </p>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->

    <div class="row">
      <div class="col-lg-3 col-md-4 mt-4 pt-2">
        <div
          class="card features fea-primary rounded p-4 bg-light text-center position-relative overflow-hidden border-0"
        >
          <span class="h1 icon2 text-primary">
            <i class="uil uil-chart-line"></i>
          </span>
          <div class="card-body p-0 content">
            <h5>Responsive</h5>
            <p class="para text-muted mb-0">
              Nuestros diseños estan totalmente adaptado a todos los
              dispositivos.
            </p>
          </div>
          <span class="big-icon text-center">
            <i class="uil uil-chart-line"></i>
          </span>
        </div>
      </div>
      <!--end col-->

      <div class="col-lg-3 col-md-4 mt-4 pt-2">
        <div
          class="card features fea-primary rounded p-4 bg-light text-center position-relative overflow-hidden border-0"
        >
          <span class="h1 icon2 text-primary">
            <i class="uil uil-crosshairs"></i>
          </span>
          <div class="card-body p-0 content">
            <h5>Gestión de Clientes</h5>
            <p class="para text-muted mb-0">
              Almacena y consulta los datos de todos tus clientes.
            </p>
          </div>
          <span class="big-icon text-center">
            <i class="uil uil-crosshairs"></i>
          </span>
        </div>
      </div>
      <!--end col-->

      <div class="col-lg-3 col-md-4 mt-4 pt-2">
        <div
          class="card features fea-primary rounded p-4 bg-light text-center position-relative overflow-hidden border-0"
        >
          <span class="h1 icon2 text-primary">
            <i class="uil uil-airplay"></i>
          </span>
          <div class="card-body p-0 content">
            <h5>Leads</h5>
            <p class="para text-muted mb-0">
              Aumenta el número de clientes potenciales y transformalos en
              ventas.
            </p>
          </div>
          <span class="big-icon text-center">
            <i class="uil uil-airplay"></i>
          </span>
        </div>
      </div>
      <!--end col-->

      <div class="col-lg-3 col-md-4 mt-4 pt-2">
        <div
          class="card features fea-primary rounded p-4 bg-light text-center position-relative overflow-hidden border-0"
        >
          <span class="h1 icon2 text-primary">
            <i class="uil uil-rocket"></i>
          </span>
          <div class="card-body p-0 content">
            <h5>Gestión Comercial</h5>
            <p class="para text-muted mb-0">
              Automatiza todo el proceso comercial de tu negocio en una sola
              aplicación.
            </p>
          </div>
          <span class="big-icon text-center">
            <i class="uil uil-rocket"></i>
          </span>
        </div>
      </div>
      <!--end col-->

      <div class="col-lg-3 col-md-4 mt-4 pt-2">
        <div
          class="card features fea-primary rounded p-4 bg-light text-center position-relative overflow-hidden border-0"
        >
          <span class="h1 icon2 text-primary">
            <i class="uil uil-clock"></i>
          </span>
          <div class="card-body p-0 content">
            <h5>Analitica</h5>
            <p class="para text-muted mb-0">
              Sabemos en cada momento el comportamiento de los usuarios que
              utilizan tu web.
            </p>
          </div>
          <span class="big-icon text-center">
            <i class="uil uil-clock"></i>
          </span>
        </div>
      </div>
      <!--end col-->

      <div class="col-lg-3 col-md-4 mt-4 pt-2">
        <div
          class="card features fea-primary rounded p-4 bg-light text-center position-relative overflow-hidden border-0"
        >
          <span class="h1 icon2 text-primary">
            <i class="uil uil-users-alt"></i>
          </span>
          <div class="card-body p-0 content">
            <h5>Facil de usar</h5>
            <p class="para text-muted mb-0">
              CRM sencillo y util, nada de procesos eternos de aprendizaje
            </p>
          </div>
          <span class="big-icon text-center">
            <i class="uil uil-users-alt"></i>
          </span>
        </div>
      </div>
      <!--end col-->

      <div class="col-lg-3 col-md-4 mt-4 pt-2">
        <div
          class="card features fea-primary rounded p-4 bg-light text-center position-relative overflow-hidden border-0"
        >
          <span class="h1 icon2 text-primary">
            <i class="uil uil-file-alt"></i>
          </span>
          <div class="card-body p-0 content">
            <h5>Alertas</h5>
            <p class="para text-muted mb-0">
              Recive avisos en tiempo real, mejorando las relaciones comerciales
              de tu negocio.
            </p>
          </div>
          <span class="big-icon text-center">
            <i class="uil uil-file-alt"></i>
          </span>
        </div>
      </div>
      <!--end col-->

      <div class="col-lg-3 col-md-4 mt-4 pt-2">
        <div
          class="card features fea-primary rounded p-4 bg-light text-center position-relative overflow-hidden border-0"
        >
          <span class="h1 icon2 text-primary">
            <i class="uil uil-search"></i>
          </span>
          <div class="card-body p-0 content">
            <h5>Gestión Documental</h5>
            <p class="para text-muted mb-0">
              Centraliza toda la documentación de forma clara y organizada.
            </p>
          </div>
          <span class="big-icon text-center">
            <i class="uil uil-search"></i>
          </span>
        </div>
      </div>
      <!--end col-->

      <div class="col-lg-12 text-center col-md-4 mt-4 pt-2">
        <a [ngxScrollTo]="'#contacto'" class="btn btn-primary"
          >Contacta
          <i-feather name="arrow-right" class="fea icon-sm"></i-feather>
        </a>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
</section>

<section class="section">
  <!-- <div class="container  mt-60">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="section-title text-center mb-4 pb-2">
                    <h6 class="text-primary">Quickstart</h6>
                    <h4 class="title mb-4">Awesome isn't it? Let's dive in!</h4>
                    <p class="para-desc mx-auto text-muted mb-0">Start working with <span
                            class="text-primary fw-bold">Landrick</span> that can provide everything you need to
                        generate awareness, drive traffic, connect.</p>
                </div>
            </div> -->
  <!--end col-->
  <!-- </div> -->
  <!--end row-->

  <!--end row-->
  <!-- </div> -->
  <!--end container-->

  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5 col-md-6 order-1 order-md-2">
        <img src="assets/images/integration/1.png" class="img-fluid" alt="" />
      </div>
      <!--end col-->

      <div
        class="col-lg-7 col-md-6 order-2 order-md-1 mt-4 mt-sm-0 pt-2 pt-sm-0"
      >
        <div class="section-title me-lg-5">
          <h4 class="title mb-4">
            Kit Digital <br />
            Principales Ventajas
          </h4>
          <p class="text-muted">
            Gestiona tus clientes, acciones comerciales y ventas todo en un
            mismo software. Ahorra tiempo en la gestión de todo el proceso de
            gestión comercial de tu negocio
          </p>
          <ul class="list-unstyled text-muted">
            <li class="mb-0">
              <span class="text-primary h5 me-2">
                <i class="uil uil-check-circle align-middle"></i>
              </span>
              Formación en la herramienta CRM.
            </li>
            <li class="mb-0">
              <span class="text-primary h5 me-2">
                <i class="uil uil-check-circle align-middle"></i> </span
              >Sitema de alertas y calendario.
            </li>
            <li class="mb-0">
              <span class="text-primary h5 me-2">
                <i class="uil uil-check-circle align-middle"></i>
              </span>
              Reducción de costes gracias a la automatización de procesos.
            </li>
            <li class="mb-0">
              <span class="text-primary h5 me-2">
                <i class="uil uil-check-circle align-middle"></i>
              </span>
              Mejor relación comercial, gracias al sistema de alertas.
            </li>
            <li class="mb-0">
              <span class="text-primary h5 me-2">
                <i class="uil uil-check-circle align-middle"></i>
              </span>
              Mejora la comunicación y pronosticos de ventas.
            </li>
          </ul>
          <div class="mt-4">
            <a [ngxScrollTo]="'#contacto'" class="btn btn-primary"
              >Solicitar Bono Digital
              <i-feather name="arrow-right" class="fea icon-sm"></i-feather
            ></a>
          </div>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->

  <div class="container mt-100 mt-60">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="section-title text-center mb-4 pb-2">
          <h4 class="title mb-4">Soluciones para la Gestión de Clientes</h4>
          <p class="para-desc mx-auto text-muted mb-0">
            Todos nuestros planes incluyen
            <span class="text-primary fw-bold"
              >al menos 1 usuario por CRM y alojamiento</span
            >
            durante el primer año.
          </p>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->

    <div class="row">
      <div class="col-lg-6 col-md-6 mt-4 pt-2">
        <div
          class="card pricing-rates business-rate border-0 p-4 rounded-md shadow"
        >
          <div class="card-body p-0">
            <span
              class="py-2 px-4 d-inline-block bg-soft-primary h6 mb-0 text-primary rounded-lg"
              >Básico</span
            >
            <h2 class="fw-bold mb-0 mt-3">PVP: 2000€*</h2>
            <!-- <p class="text-muted">+ IVA</p> -->

            <p class="text-muted">Ideal para atónomos y micropymes.</p>

            <ul class="list-unstyled pt-3 border-top">
              <li class="h6 text-muted mb-0">
                <p class="fw-bold">Horas de parametrización incluidas.</p>
              </li>
              <li class="h7 text-muted mb-0">
                Empresas 10-49 empleados: 40 horas
              </li>
              <li class="h7 text-muted mb-0">
                Empresas 3-9 empleados: 30 horas
              </li>
              <li class="h7 text-muted mb-0">
                Empresas 0-2 empleados: 30 horas
              </li>
              <li class="h6 text-muted mb-0">
                <p class="fw-bold mt-3 border-top pt-3 text-center">
                  Características.
                </p>
              </li>
              <li class="h6 text-muted mb-0">
                <span class="text-primary h5 me-2"
                  ><i class="uil uil-check-circle align-middle"></i></span
                >Lista de Clientes
              </li>
              <li class="h6 text-muted mb-0">
                <span class="text-primary h5 me-2"
                  ><i class="uil uil-check-circle align-middle"></i></span
                >Oportunidades de venta
              </li>
              <li class="h6 text-muted mb-0">
                <span class="text-primary h5 me-2"
                  ><i class="uil uil-check-circle align-middle"></i></span
                ><b>Lista de Comerciales.</b>
              </li>
              <li class="h6 text-muted mb-0">
                <span class="text-primary h5 me-2"
                  ><i class="uil uil-check-circle align-middle"></i></span
                ><b>Ampliacion modular.</b>
              </li>
              <li class="h6 text-muted mb-0">
                <span class="text-primary h5 me-2"
                  ><i class="uil uil-check-circle align-middle"></i></span
                ><b>Alojamiento Web</b>
              </li>
            </ul>

            <div class="mt-4">
              <div class="d-grid">
                <button class="btn btn-primary" [ngxScrollTo]="'#contacto'">
                  Más información
                </button>
              </div>
              <p class="text-muted mt-3 mb-0">
                *Precio llave en mano, IVA no incluido
              </p>
            </div>
          </div>
        </div>
      </div>
      <!--end col-->

      <div class="col-lg-6 col-md-6 mt-4 pt-2">
        <div
          class="card pricing-rates business-rate border-0 p-4 rounded-md shadow"
        >
          <div class="ribbon ribbon-right ribbon-warning overflow-hidden">
            <span class="text-center d-block shadow small h6">Best</span>
          </div>
          <div class="card-body p-0">
            <span
              class="py-2 px-4 d-inline-block bg-soft-primary h6 mb-0 text-primary rounded-lg"
              >Avanzado</span
            >
            <h2 class="fw-bold mb-0 mt-3">PVP: 4000€*</h2>
            <!-- <p class="text-muted">+ IVA</p> -->

            <p class="text-muted">
              Permite el gestión del proceso de inicio a fin.
            </p>

            <ul class="list-unstyled pt-3 border-top">
              <li class="h6 text-muted mb-0">
                <p class="fw-bold">Horas de parametrización incluidas.</p>
              </li>
              <li class="h7 text-muted mb-0">
                Empresas 10-49 empleados: 40 horas
              </li>
              <li class="h7 text-muted mb-0">
                Empresas 3-9 empleados: 30 horas
              </li>
              <li class="h7 text-muted mb-0">
                Empresas 0-2 empleados: 30 horas
              </li>
              <li class="h6 text-muted mb-0">
                <p class="fw-bold mt-3 border-top pt-3 text-center">
                  Características.
                </p>
              </li>
              <li class="h6 text-muted mb-0">
                <span class="text-primary h5 me-2"
                  ><i class="uil uil-check-circle align-middle"></i></span
                >Lista de Clientes
              </li>
              <li class="h6 text-muted mb-0">
                <span class="text-primary h5 me-2"
                  ><i class="uil uil-check-circle align-middle"></i></span
                >Oportunidades de venta
              </li>
              <li class="h6 text-muted mb-0">
                <span class="text-primary h5 me-2"
                  ><i class="uil uil-check-circle align-middle"></i></span
                ><b>Lista de Comerciales.</b>
              </li>
              <li class="h6 text-muted mb-0">
                <span class="text-primary h5 me-2"
                  ><i class="uil uil-check-circle align-middle"></i></span
                ><b>Ampliacion modular.</b>
              </li>
              <li class="h6 text-muted mb-0">
                <span class="text-primary h5 me-2"
                  ><i class="uil uil-check-circle align-middle"></i></span
                ><b>Alojamiento Web</b>
              </li>
              <li class="h6 text-muted mb-0">
                <span class="text-primary h5 me-2"
                  ><i class="uil uil-check-circle align-middle"></i></span
                ><b>Lista pedidos ventas</b>
              </li>
              <li class="h6 text-muted mb-0">
                <span class="text-primary h5 me-2"
                  ><i class="uil uil-check-circle align-middle"></i></span
                ><b>Lista de artículos</b>
              </li>
              <li class="h6 text-muted mb-0">
                <span class="text-primary h5 me-2"
                  ><i class="uil uil-check-circle align-middle"></i></span
                ><b>Lista precios</b>
              </li>
            </ul>

            <div class="mt-4">
              <div class="d-grid">
                <button class="btn btn-primary" [ngxScrollTo]="'#contacto'">
                  Más información
                </button>
              </div>
              <p class="text-muted mt-3 mb-0">
                *Precio llave en mano, IVA no incluido
              </p>
            </div>
          </div>
        </div>
      </div>
      <!--end col-->

      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>

<!-- SECCION DE CONTACTO FINAL -->

<app-form-bottom id="contacto"></app-form-bottom>

<!-- Subscribe Modal Content Start -->
<ng-template #Subscribecontent let-modal>
  <div class="modal-content rounded shadow border-0">
    <div
      class="modal-body p-4"
      style="background: url('assets/images/illustrator/faq.svg') no-repeat"
    >
      <button
        type="button"
        class="btn-close float-end m-1"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
      <div class="clearfix"></div>
      <div class="container-fluid px-0">
        <div class="row align-items-center g-0">
          <div class="col-lg-6 offset-lg-6">
            <div class="pb-5 pt-4 px-4">
              <h4>¿Quieres que te llamemos?</h4>

              <h6 class="text-muted">
                Dejanos tus datos y nos ponemos en contacto
              </h6>
              <!-- <p class="text-muted mb-0">Subscribe to the Landrick mailing list to receive updates on new
                  arrivals, special offers and our promotions.</p> -->
              <form class="mt-4">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="foot-subscribe mb-3">
                      <div class="form-icon position-relative">
                        <i-feather
                          name="user"
                          class="fea icon-sm icons"
                        ></i-feather>
                        <input
                          type="email"
                          name="name"
                          id="daily-updates"
                          class="form-control ps-5 rounded"
                          placeholder="Nombre : "
                          required
                        />
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-12">
                    <div class="foot-subscribe mb-3">
                      <div class="form-icon position-relative">
                        <i-feather
                          name="phone"
                          class="fea icon-sm icons"
                        ></i-feather>
                        <input
                          type="mail"
                          name="email"
                          id="daily-updates"
                          class="form-control ps-5 rounded"
                          placeholder="Tlf : "
                          required
                        />
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-12">
                    <div class="foot-subscribe mb-3">
                      <div class="form-icon position-relative">
                        <i-feather
                          name="mail"
                          class="fea icon-sm icons"
                        ></i-feather>
                        <input
                          type="mail"
                          name="email"
                          id="daily-updates"
                          class="form-control ps-5 rounded"
                          placeholder="Email : "
                          required
                        />
                      </div>
                    </div>
                  </div>
                  <!--end col-->

                  <div class="col-lg-12">
                    <div class="d-grid">
                      <input
                        type="submit"
                        id="submitsubscribe"
                        name="send"
                        class="btn btn-primary"
                        value="Enviar"
                      />
                    </div>
                  </div>
                  <!--end col-->

                  <!-- <div class="col-12">
                      <div class="text-center">
                        <p class="mb-0 mt-3"><small class="text-dark me-2">Already have an account ?</small>
                          <a href="javascript:void(0)" class="text-dark fw-bold">Sign in</a>
                        </p>
                      </div>
                    </div> -->
                  <!--end col-->
                </div>
                <!--end row-->
              </form>
            </div>
          </div>
          <!--end col-->
        </div>
        <!--end row-->
      </div>
      <!--end container-->
    </div>
  </div>
</ng-template>
<!-- Modal Content End -->
