::ng-deep /* to penetrate <ngx-editor> CSS styling */

    .NgxEditor {
      height: 400px;
      overflow-y: scroll;
    }
  
    ::ng-deep  .NgxEditor__Content {
      min-height: 400px; /* make all of the editor area clickable */
    }
  