#chat-container {
    border: none;
    position: fixed;
    bottom: 50px;
    right: 100px;
    z-index: 1000;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 1px 1px 8px 1px rgba(252, 62, 136, 0.2);
}

#chat {
    border: none;
}

#chat-container .title {
    height: 40px;
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 500;
}

#chat-container .title .pink {
    color: #FC3E88;
}

#chat-container .title .blue {
    color: #39B4B8;
}

#chat-container .separator {
    background-color: white;
    height: 5px;
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#chatButton {
    position: fixed;
    bottom: 50px;
    right: 100px;
    height: 72px;
    width: 72px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    outline: none;
    border: 1px solid #DCDCDC;
    padding: 13px;
    background: transparent;
    cursor: pointer;
}

#chatButton .button {
    border-radius: 50%;
    background: #6beace;
    padding: 8px;
    display: flex;
}

#chatButton img {
    width: 28px;
    height: 28px;
}

#chat-container p {
    padding: 10px;
    margin: 0;
}

#chat-container form {
    padding: 10px;
    margin: auto;
}

#chat-container .ac-adaptiveCard p {
    color: #39B4B8!important;
}

#chat-container .ac-actionSet button {
    background-color: #040C26!important;
    border: 1px solid #FC3E88!important;
    border-radius: 5px;
}

#chat-container .ac-actionSet button div {
    color: #39B4B8!important;
}


/*  */

.webchat__bubble__content {
    background-color: #e8ecf3f7 !important;
    color: black !important;
    border-radius: 15px !important;
    border: none !important;
}

#chat-container .title .pink {
    color: #ffffff;
}

#chat-container {
    box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.2);
}

#chat-container p,
#chat-container input,
#chat-container li {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 12px;
}

#chat-container span {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 10px;
}

.title span {
    font-size: 16px !important;
}

.from-user .webchat__bubble__content {
    background-color: #FC3E88!important;
    color: white !important;
    min-height: 30px!important;
}

#chat-container .webchat__suggested-action__button {
    border-radius: 30px;
    border-color: #FC3E88!important;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 12px;
}

#chat-container .webchat__suggested-action__button:hover {
    cursor: pointer;
}

@media(max-width: 500px) {
    #chat-container {
        right: 15px;
    }
    #webchat {
        width: 300px!important;
        height: 400px!important;
    }
    #chat {
        width: 300px!important;
        height: 400px!important;
    }
    #chatButton {
        right: 19px!important;
        bottom: 125px!important;
    }
}


/* Settings to Safari */

.safariBrowser .main {
    height: 40px;
}

.safariBrowser .main form {
    height: 40px;
}

.safariBrowser .css-mfy564 {
    height: 100%;
}
.title{
    place-content: center;
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif !important;
}
.cont-msj{
    background-color: #701616 !important;
}

#header{
    background-color: #040C26 !important;
}

#chat2 .form-control {
    border-color: transparent;
    }
    
    #chat2 .form-control:focus {
    border-color: transparent;
    box-shadow: inset 0px 0px 0px 1px transparent;
    }
    
    .divider:after,
    .divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
    }

    .ps {
        --mdb-scrollbar-rail-x-y-transition-opacity-bg: background-color 0.2s linear,opacity 0.2s linear;
        --mdb-scrollbar-z-index: 1035;
        --mdb-scrollbar-rail-x-y-length: 0.9375rem;
        --mdb-scrollbar-rail-x-y-opacity: 0.6;
        --mdb-scrollbar-rail-x-y-hover-opacity: 0.9;
        --mdb-scrollbar-rail-x-y-bg-color: #eee;
        --mdb-scrollbar-rail-x-y-clicking: #999;
        --mdb-scrollbar-rail-x-y-clicking-length: 0.6875rem;
        --mdb-scrollbar-rail-x-transition-height-bg: background-color 0.2s linear,height 0.2s ease-in-out;
        --mdb-scrollbar-rail-y-transition-width-bg: background-color 0.2s linear,width 0.2s ease-in-out;
        --mdb-scrollbar-thumb-x-y-color: #aaa;
        --mdb-scrollbar-thumb-x-y-border-radius: 0.375rem;
        --mdb-scrollbar-thumb-x-y-length: 0.375rem;
        --mdb-scrollbar-thumb-x-y-position-length: 0.125rem;
        overflow: hidden!important;
        overflow-anchor: none;
        touch-action: auto;
    }

    .card-body::-webkit-scrollbar {
display: none;    }

/* para moviles */

@media (max-width: 768px) {
    .card-body {
        height: 320px!important;; 
       }
}