<section 
        class="bg-half bg-light d-table w-100" 
        id="home"          
        style="background:url('assets/images/posicionamiento/agencia-de-linkbuilding-top.jpg') center center; background-size: cover; background-attachment: fixed; background-repeat: no-repeat;"
>
    <div class="container">
        <div class="row align-items-center bg-animation-left">
            <div class="col-md-6 col-12 " style="z-index: 1;">
                <div class="title-heading">
                    <span class="badge rounded-pill bg-soft-primary text-dark">Creación de contenido</span>
                    <h1 class="fw-bold mt-2 mb-3">Agencia de Linkbuilding: Mejora tu posicionamiento en Google</h1>
                    <p class="para-desc text-muted"> 
                      El posicionamiento en los resultados de búsqueda de Google es fundamental para el éxito de cualquier sitio web. Una buena estrategia de linkbuilding puede ayudar a mejorar el ranking de tu sitio y a aumentar su visibilidad en línea.    
                    </p>
                    <h3 class="fw-bold mt-2 mb-3">Servicio subvencionado hasta 6.000€ con el Programa Kit Digital</h3>
                    <div class="mt-4 pt-2">
                        <a [ngxScrollTo]="'#contacto'" class="btn btn-primary me-2"><i class="mdi mdi-rocket"> </i> Aumentar Ventas</a>
                    </div>
                    <!-- <p class="text-muted mb-0 mt-3">Current Version: v3.0.0</p> -->
                </div>
            </div>
            <!--end col-->

    
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>
<!--end section-->
<!-- Hero End -->

<!-- Shape Start -->
<div class="position-relative">
    <div class="shape overflow-hidden text-white">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
        </svg>
    </div>
</div>
<!--Shape End-->

<section class="section">
    <div class="container">
      <div class="row justify-content-center" style="max-width:1400px">
        <div class="col-sm-12 col-lg-6 pt-4">
          <div class="section-title mb-4 pb-2">
            <h2 class="title mb-4">¿Por qué es importante el Linkbuilding?
            </h2>
            <p class="text-muted para-desc  mx-auto">
              El Linkbuilding es un factor crítico en el posicionamiento de un sitio web en los motores de búsqueda.  </p>
            <p class="text-muted para-desc mx-auto">
              Los motores de búsqueda, como Google, utilizan los enlaces para determinar la relevancia y autoridad de un sitio web. Cuantos más enlaces de calidad tenga un sitio web, más probable será que aparezca en los resultados de búsqueda relevantes.  </p>
            <p class="text-muted para-desc mx-auto">
               
              Además, los enlaces de calidad también pueden aumentar el tráfico a su sitio web y mejorar la experiencia de los usuarios.

            </p>
        </div>
        
    </div>
        <!--end col-->

        <div class="col-sm-12 col-lg-6 pt-4">
          <div class="section-title">
                
            </div>
            <img src="assets/images/posicionamiento/agencia-de-linkbuilding-1.png" class="rounded-lg img-fluid d-block mx-auto" alt="agencia-de-linkbuilding-galicia">
        
    
        </div>

       
        
      </div>

   
      <!--end row-->
  
      <div class="row align-items-center" >
        <div class="button">
            <a [ngxScrollTo]="'#contacto'" class="btn btn-primary">Vender más ahora</a>
        </div>
      </div>
      <!--end row-->
    </div>
    
</section>


<!--end section-->
<!-- Features End -->

<!-- Services Start -->

<section class="section ">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 text-center">
          <div class="section-title mb-4 pb-2">
            <h2 class="title mb-4">
              Tipos de enlaces en Linkbuilding
            </h2>
            <p class="text-muted para-desc mb-0 mx-auto">
              Los enlaces son una de las principales señales que los motores de búsqueda utilizan para determinar la relevancia y autoridad de un sitio web. 
            </p>
          
            </div>
        
        </div>
        <!--end col-->
      </div>
      <!--end row-->
  
      <div class="row">
        <div class="col-lg-3 col-md-4 mt-4 pt-2">
          <div
            class="card features fea-primary rounded p-4 bg-light text-center position-relative overflow-hidden border-0">
            <span class="h1 icon2 text-primary">
              <i class="uil uil-chart-line"></i>
            </span>
            <div class="card-body p-0 content">
              <h5>Enlaces internos</h5>
              <p class="para text-muted mb-0">
                Son enlaces dentro de su sitio web que conectan diferentes páginas entre sí.  
              </p>
            </div>
           
          </div>
        </div>
        <!--end col-->
  
        <div class="col-lg-3 col-md-4 mt-4 pt-2">
          <div
            class="card features fea-primary rounded p-4 bg-light text-center position-relative overflow-hidden border-0">
            <span class="h1 icon2 text-primary">
              <i class="uil uil-crosshairs"></i>
            </span>
            <div class="card-body p-0 content">
              <h5>Enlaces de retroceso
            </h5>
              <p class="para text-muted mb-0">
                Son enlaces que apuntan hacia su sitio web desde otros sitios web. 
              </p>
            </div>
          
          </div>
        </div>
        <!--end col-->
  
        <div class="col-lg-3 col-md-4 mt-4 pt-2">
          <div
            class="card features fea-primary rounded p-4 bg-light text-center position-relative overflow-hidden border-0">
            <span class="h1 icon2 text-primary">
              <i class="uil uil-airplay"></i>
            </span>
            <div class="card-body p-0 content">
              <h5>Enlaces nofollow</h5>
              <p class="para text-muted mb-0">
                Son enlaces que no transmiten autoridad o relevancia a su sitio web.
              </p>
            </div>
        
          </div>
        </div>
        <!--end col-->
  
        <div class="col-lg-3 col-md-4 mt-4 pt-2">
          <div
            class="card features fea-primary rounded p-4 bg-light text-center position-relative overflow-hidden border-0">
            <span class="h1 icon2 text-primary">
              <i class="uil uil-rocket"></i>
            </span>
            <div class="card-body p-0 content">
              <h5>
                Enlaces dofollow
            </h5>
              <p class="para text-muted mb-0">
                Son enlaces que transmiten autoridad y relevancia a su sitio web.
              </p>
            </div>
            
          </div>
        </div>
        <!--end col-->
  
       
        <!--end col-->
      </div>

      <!--end row-->
    </div>
    
    
</section>

<!--end section-->
<!-- Services End -->

<!-- CTA Start -->


<section class="section">
  <div class=" bg-half-170" style="background-image: url('assets/images/web-design/desarrollo-web-galicia.jpg');">
    
    <div class="container">
        <div class="rounded  bg-overlay bg-gradient p-lg-5 p-4">
          <div class="row align-items-center">

            <div class="col-md-12">
              <div class="section-title  text-center">
                <h2 class="title mb-3 text-white title-dark">No esperes más, aumenta tus ventas ahora</h2>
                <h5 class="text-white ">Todos estamos aqui por lo mismo, queremos vender más.</h5>
                <h5 class="text-white ">En cuanto contactes, nos pondremos a ello de inmediato.</h5>
              </div>
            </div>
            <!--end col-->
    
            <div class="col-12">
              <div class="text-center">
                <a [ngxScrollTo]="'#contacto'" class="btn btn-light m-4">Empezar ahora</a>
                <a href="tel:+34682047802" class="btn btn-light ">682 04 78 02</a>
              </div>
            </div>
            <!--end col-->
          </div>
          <!--end row-->
        </div>
      </div>
  </div>
</section>


<!-- CTA End -->


<!-- Footer Start -->

<section class="section">

    <!--end container-->
    <div class="container mt-100 mt-60">
        <div class="row text-align-left mb-40">
          <div class="col-lg-6 col-sm-12 order-sm-1">
            <div class="section-title mb-4 pb-2">
                <h2 class="title mb-4">¿Cómo funciona una Agencia de Linkbuilding?
                </h2>
                <p class="text-muted para-desc "> Una agencia de Linkbuilding se encarga de mejorar la presencia en línea de un sitio web mediante la creación de enlaces externos de calidad.
                </p>
                <p class="text-muted para-desc">Esto se logra a través de diversas estrategias, como el guest blogging, la participación en foros y comunidades en línea, y la colaboración con sitios web relevantes.
                </p>
                <p class="text-muted para-desc">La finalidad de estas técnicas es aumentar la autoridad y credibilidad de un sitio web ante los motores de búsqueda, lo que a su vez mejora su posicionamiento en los resultados de búsqueda. En resumen, una agencia de Linkbuilding trabaja para hacer que tu sitio web sea más visible y atractivo para los usuarios y los motores de búsqueda.
                </p>
                <div class="row align-items-center" >
                    <div class="button">
                        <a [ngxScrollTo]="'#contacto'"  class="btn btn-light">Contacta Ahora</a>
                    </div>
                </div>

            </div>
          </div>
          <div class="col-lg-6 col-sm-12 mb-4">
            <div class=" pt-2">
                <img src="assets/images/posicionamiento/agencia-de-linkbuilding-2.jpg" class="rounded-lg img-fluid d-block mx-auto" alt="agencia-de-linkbuilding">
              </div>
          </div>
          <!--end col-->
        </div>
        <!--end row-->
    
        <div class="row align-items-center pb-40">
            <ul ngbNav #nav="ngbNav" class="nav-pills flex-column rounded col-md-5 pr-0 bg-white">
                <li ngbNavItem class="bg-light rounded-md">
                  <a ngbNavLink class="rounded">
                    <div class="p-3 text-left">
                      <h5 class="title font-weight-bold">Análisis de estrategia SEO</h5>
                      <p class="text tab-para mb-0">Maximizando tu presencia en línea
                      </p>
                    </div>
                  </a>
                  <ng-template ngbNavContent>
                    <div class="saas-feature-shape-right position-relative">
                        <div class="ms-lg-4">
                            <div class="section-title">
                                <span class="badge bg-soft-primary rounded-pill fw-bold">Agencia de SEO</span>
                                <h4 class="title mb-4 mt-3">Transforma tu Posicionamiento con nuestra Auditoría SEO</h4>
                                <p class="text-muted para-desc">
                                  La Agencia de Linkbuilding comienza con un análisis exhaustivo de su sitio web y su estrategia de SEO. Esto les permite identificar las fortalezas y debilidades de su sitio web y determinar cómo pueden mejorar su posicionamiento en los motores de búsqueda.    
                                </p>
                                </div>
        
                            <div class="d-flex mt-4 pt-2">
                                <i class="uil uil-bullseye h5 text-primary"></i>
                                <div class="flex-1 ms-2">
                                    <h5>Calidad de los Enlaces</h5>
                                    <p class="mb-0 text-muted">La calidad de los enlaces es un factor crucial en una estrategia de linkbuilding SEO. Es importante asegurarse de que todos los enlaces que se están construyendo sean de alta calidad y relevantes para el sitio web. Los enlaces deben provenir de sitios confiables y autorizativos para maximizar su impacto en el posicionamiento en los motores de búsqueda.
                                    </p>
                                </div>
                            </div>
        
                            <div class="d-flex mt-4 pt-2">
                                <i class="uil uil-create-dashboard h5 text-primary"></i>
                                <div class="flex-1 ms-2">
                                    <h5>Variedad de Técnicas de Linkbuilding</h5>
                                    <p class="mb-0 text-muted">
                                      El uso de una variedad de técnicas de linkbuilding es esencial para una estrategia de linkbuilding SEO efectiva. Esto incluye técnicas como el guest blogging, la creación de contenido valioso y la obtención de enlaces de retroceso naturales. Al utilizar una combinación de técnicas, es posible construir una red sólida de enlaces de alta calidad y mejorar el posicionamiento en los motores de búsqueda.
                                    </p>
                                </div>
                            </div>
        
                            <div class="mt-4 pt-2">
                                <a [ngxScrollTo]="'#contacto'" target="_blank" class="btn btn-primary m-1">Solicita Información <i
                                        class="uil uil-angle-right-b align-middle"></i></a>
                            </div>
                        </div>                
                    </div>
                  </ng-template>
                </li>         
                <li ngbNavItem class="bg-light mt-4 rounded-md">
                  <a ngbNavLink class="rounded">
                    <div class="p-3 text-left">
                      <h5 class="title font-weight-bold">Investigación de palabras clave</h5>
                      <p class="text tab-para mb-0">
                        Aumenta el tráfico de tu sitio web con palabras clave de alto volumen
                      </p>
                    </div>
                  </a>
                  <ng-template ngbNavContent>
                    <div class="saas-feature-shape-right position-relative">
                        <div class="ms-lg-4">
                            <div class="section-title">
                                <span class="badge bg-soft-primary rounded-pill fw-bold">Agencia de SEO</span>
                                <h4 class="title mb-4 mt-3">
                                  Mejora tu posicionamiento en los resultados de búsqueda con palabras clave de alto volumen
                                </h4>
                                <p class="text-muted para-desc">
                                  La Agencia de Linkbuilding también investiga las palabras clave relevantes para su negocio y nicho. Esto les permite enfocarse en los términos de búsqueda que realmente importan y ayudan a asegurarse de que su sitio web aparezca en los resultados de búsqueda relevantes.
                                </p>
                            </div>
        
                            <div class="d-flex mt-4 pt-2">
                                <i class="uil uil-bullseye h5 text-primary"></i>
                                <div class="flex-1 ms-2">
                                    <h5>Relevancia de las Palabras Clave​</h5>
                                    <p class="mb-0 text-muted">
                                      Es fundamental elegir palabras clave relevantes y con un alto potencial de búsqueda para mejorar el impacto en el posicionamiento en los motores de búsqueda.
                                    </p>
                                </div>
                            </div>
        
                            <div class="d-flex mt-4 pt-2">
                                <i class="uil uil-create-dashboard h5 text-primary"></i>
                                <div class="flex-1 ms-2">
                                    <h5>Evaluación de la Competencia​</h5>
                                    <p class="mb-0 text-muted">
                                      Es importante evaluar la competencia en las palabras clave elegidas para determinar la viabilidad de la estrategia de linkbuilding SEO. Las palabras clave con una competencia moderada ofrecen una mejor oportunidad de éxito en la estrategia de linkbuilding SEO.
                                    </p>
                                </div>
                            </div>
        
                            <div class="mt-4 pt-2">
                                <a [ngxScrollTo]="'#contacto'" class="btn btn-primary m-1">Más Información<i
                                        class="uil uil-angle-right-b align-middle"></i></a>
                            </div>
                        </div>                
                    </div>
                  </ng-template>
                </li>
                <li ngbNavItem class="bg-light mt-4 rounded-md">
                  <a ngbNavLink class="rounded">
                    <div class="p-3 text-left">
                      <h5 class="title font-weight-bold">Creación de contenido de alta calidad</h5>
                      <p class="text tab-para mb-0">
                        Aumenta el tráfico de tu sitio web con contenido de alta calidad
                      </p>
                    </div>
                  </a>
                  <ng-template ngbNavContent>
                    <div class="saas-feature-shape-right position-relative">
                        <div class="ms-lg-4">
                            <div class="section-title">
                                <span class="badge bg-soft-primary rounded-pill fw-bold">Agencia SEO</span>
                                <h4 class="title mb-4 mt-3">
                                  Mejora tu posicionamiento en los resultados de búsqueda con contenido de alta calidad
                                </h4>
                                <p class="text-muted para-desc">
                                  Una Agencia de Linkbuilding también se encarga de crear contenido de alta calidad para su sitio web. Este contenido no solo ayuda a aumentar la relevancia y la autoridad de su sitio web, sino que también puede atraer enlaces de calidad a su sitio web.
                                </p>
                                </div>
                            <div class="d-flex mt-4 pt-2">
                                <i class="uil uil-bullseye h5 text-primary"></i>
                                <div class="flex-1 ms-2">
                                    <h5>Enfoque en la Relevancia y la Utilidad para el Usuario                                    </h5>
                                    <p class="mb-0 text-muted">
                                      El contenido de alta calidad debe estar enfocado en proporcionar información relevante y útil para el usuario, que les permita encontrar lo que están buscando en una manera fácil y efectiva.
                                    </p>
                                    </div>
                            </div>
        
                            <div class="d-flex mt-4 pt-2">
                                <i class="uil uil-create-dashboard h5 text-primary"></i>
                                <div class="flex-1 ms-2">
                                    <h5>Integración de Palabras Clave Estratégicas</h5>
                                    <p class="mb-0 text-muted">
                                      El contenido de alta calidad también debe incluir palabras clave relevantes y estratégicas para mejorar su visibilidad en los motores de búsqueda y aumentar su potencial de posicionamiento en los resultados de búsqueda. La integración de las palabras clave debe ser natural y no forzada para no afectar negativamente la experiencia del usuario.    
                                    </p>
                                </div>
                            </div>
        
                            <div class="mt-4 pt-2">
                                <a [ngxScrollTo]="'#contacto'" class="btn btn-primary m-1">Aumentar Ventas <i
                                        class="uil uil-angle-right-b align-middle"></i></a>
                            </div>
                        </div>                
                    </div>
                  </ng-template>
                </li>
                <li ngbNavItem class="bg-light mt-4 rounded-md">
                    <a ngbNavLink class="rounded">
                      <div class="p-3 text-left">
                        <h5 class="title font-weight-bold">Creación de enlaces de calidad</h5>
                        <p class="text tab-para mb-0">
                          Aumenta el tráfico de tu sitio web con enlaces de calidad
                        </p>
                      </div>
                    </a>
                    <ng-template ngbNavContent>
                        <div class="saas-feature-shape-right position-relative">
                            <div class="ms-lg-4">
                                <div class="section-title">
                                    <span class="badge bg-soft-primary rounded-pill fw-bold">Agencia SEO</span>
                                    <h4 class="title mb-4 mt-3">
                                      Mejora tu posicionamiento en los resultados de búsqueda con enlaces de calidad
                                    </h4>
                                    <p class="text-muted para-desc">
                                      La Agencia de Linkbuilding también se encarga de crear enlaces de calidad para su sitio web. Estos enlaces apuntan hacia su sitio web desde otros sitios web relevantes y de confianza. La Agencia de Linkbuilding también monitorea constantemente sus enlaces para asegurarse de que sigan siendo relevantes y de calidad.
                                    </p>
                                    </div>
                            
                                <div class="d-flex mt-4 pt-2">
                                    <i class="uil uil-bullseye h5 text-primary"></i>
                                    <div class="flex-1 ms-2">
                                        <h5>Enlaces de Calidad
                                        </h5>
                                        <p class="mb-0 text-muted">
                                          La creación de enlaces de calidad es esencial en cualquier estrategia de linkbuilding SEO. Estos enlaces deben ser relevantes y provienen de fuentes confiables para mejorar la autoridad de un sitio web.
                                         
                                        </p>
                                        </div>
                                </div>
            
                                <div class="d-flex mt-4 pt-2">
                                    <i class="uil uil-create-dashboard h5 text-primary"></i>
                                    <div class="flex-1 ms-2">
                                        <h5>Creación de Enlaces Relevantes
                                        </h5>
                                        <p class="mb-0 text-muted">
                                          La relevancia es clave en la creación de enlaces para una estrategia de linkbuilding SEO exitosa. Los enlaces deben estar relacionados con el tema o nicho del sitio web y provenir de fuentes confiables para aumentar la autoridad y mejorar el ranking en los motores de búsqueda.
                                        </p>
                                    </div>
                                </div>
            
                                <div class="mt-4 pt-2">
                                    <a [ngxScrollTo]="'#contacto'" class="btn btn-primary m-1">Solicitar Información<i
                                            class="uil uil-angle-right-b align-middle"></i></a>
                                </div>
                            </div>                
                        </div>
                      </ng-template>
                </li>
               
              </ul>
          <div [ngbNavOutlet]="nav" class="col-md-7 col-12 mt-4 pt-2"></div>
        </div>
        <!--end col-->
    </div>
      <!--end container-->
    


   
    <!--end container-->
</section>


<!-- seccion de testimonios -->
<section class="section bg-light ">
  <div class="container mt-100 mt-60">
    <div class="row pt-md-5 justify-content-center">
      <div class="col-12">
        <div class="section-title text-center mb-4 pb-2">
          <h4 class="title mb-4">¿Sigues sin estar del todo convencido?</h4>
          <p class="text-muted para-desc mx-auto mb-0">Estos son algunos de los comentarios de nuestros clientes, juramos que no hemos malatrado a (casi) ninguno para conseguirlos. Esperamos que proximamente también figures entre nuestras reseñas positivas. </p>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->

    <app-testimonial [testimonialData]="testimonialData"></app-testimonial>
  </div>
</section>


<section class="section">
 <!-- Nuestro proceso de diseño -->
 <div class="container mt-100 mt-60">
    <div class="row justify-content-center">
      <div class="col-lg-4 col-12">
        <div class="sticky-bar">
          <div class="section-title text-lg-left mb-4 mb-lg-0 pb-2 pb-lg-0">
            <h2 class="title mb-4">¿Por qué elegir a TecnoRía para superar la competencia en posicionamiento SEO para empresas?</h2>
            <p class="text-muted para-desc mb-0 mx-auto">
                ¿Estás cansado de ver a tus competidores en la primera página de Google y tú en algún lugar perdido en los resultados de búsqueda? ¿Quieres ser el líder en tu industria y atraer más clientes en línea?            </p>
            <p class="text-muted para-desc mb-0 mx-auto">
                En TecnoRía, te retamos a unirte a nuestro equipo de expertos en SEO y dejar atrás el posicionamiento mediocre. Con nuestra combinación única de técnicas avanzadas de SEO, análisis y seguimiento continuo, y estrategias personalizadas, garantizamos una subida en el ranking de búsqueda y un aumento en el tráfico orgánico a tu sitio web. ¿Aceptas el desafío de ser el líder en tu industria con TecnoRía?            </div>
        </div>
      </div>
      <!--end col-->

      <div class="col-lg-8 col-12">
        <div class="row align-items-center">
          <div class="col-md-6">
            <div class="row">

              <div class="col-12 mt-4 mt-lg-0 pt-2 pt-lg-0">
                <div class="card features fea-primary rounded p-4 bg-light position-relative overflow-hidden border-0">
                  <span class="h1 icon2 text-primary">
                    <i class="uil uil-meeting-board"></i>
                  </span>
                  <div class="card-body p-0 content">
                    <h3>Maximiza tus conversiones</h3>
                    <h5>Con nuestro análisis y monitoreo continuo, aseguramos que tus campañas de Google Ads alcancen su máximo potencial.</h5>
                    <p class="para text-muted mb-0">Nuestro equipo de expertos utiliza técnicas probadas y verdaderas para aumentar tus conversiones en línea.</p></div>
                </div>
              </div>
              <!--end col-->

              <div class="col-12 mt-4 pt-2">
                <div class="card features fea-primary rounded p-4 bg-light position-relative overflow-hidden border-0">
                  <span class="h1 icon2 text-primary">
                    <i class="uil uil-schedule"></i>
                  </span>
                  <div class="card-body p-0 content">
                    <h3>Atrévete a ser el primero</h3>
                    <h5>Nuestro equipo de SEO te ayudará a superar a la competencia y lograr un posicionamiento privilegiado en los resultados de búsqueda de Google.</h5>
                    <p class="para text-muted mb-0">Únete a nosotros y haz que tu marca brille en el primer lugar.</p>
                  </div>
                </div>
              </div>
              <!--end col-->

              <div class="col-12 mt-4 pt-2">
                <div class="card features fea-primary rounded p-4 bg-light position-relative overflow-hidden border-0">
                  <span class="h1 icon2 text-primary">
                    <i class="uil uil-clock"></i>
                  </span>
                  <div class="card-body p-0 content">
                    <h3>Mejora la experiencia de usuario</h3>
                    <h5>Nuestro enfoque en la optimización del SEO garantiza una experiencia fluida y sin problemas para tus visitantes en línea.</h5>
                    <p class="para text-muted mb-0">Mejora la navegabilidad y la accesibilidad de tu sitio web con TecnoRia.</p>
                </div>
                </div>
              </div>
              <!--end col-->
              <div class="col-12 mt-4 pt-2">
                <div class="card features fea-primary rounded p-4 bg-light position-relative overflow-hidden border-0">
                  <span class="h1 icon2 text-primary">
                    <i class="uil uil-clock"></i>
                  </span>
                  <div class="card-body p-0 content">
                    <h3>Alcance a tu público objetivo</h3>
                    <h5>Nuestra publicidad programática te permite llegar a tus clientes potenciales en el momento preciso.</h5>
                    <p class="para text-muted mb-0">No más desperdicio de tiempo y dinero en campañas publicitarias inefectivas. Con TecnoRia, alcanzarás a tu público objetivo.</p>
                  </div>
                </div>
              </div>
              <!--end col-->
              
      
            </div>
            <!--end row-->
          </div>
          <!--end col-->

          <div class="col-md-6">
            <div class="row">
              <div class="col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <div class="card features fea-primary rounded p-4 bg-light position-relative overflow-hidden border-0">
                  <span class="h1 icon2 text-primary">
                    <i class="uil uil-calender"></i>
                  </span>
                  <div class="card-body p-0 content">
                    <h3>Aprovecha la tecnología</h3>
                    <h5>Nuestro equipo de especialistas en Google Ads utiliza las últimas tecnologías y técnicas para lograr resultados sorprendentes.</h5>
                    <p class="para text-muted mb-0">No te quedes atrás. Aprovecha la tecnología con TecnoRia y aumenta tu alcance y conversiones en línea.</p>
                 </div>
                </div>
              </div>
              <!--end col-->

              <div class="col-12 mt-4 pt-2">
                <div class="card features fea-primary rounded p-4 bg-light position-relative overflow-hidden border-0">
                    <span class="h1 icon2 text-primary">
                        <i class="uil uil-clock"></i>
                      </span>
                      <div class="card-body p-0 content">
                        <h3>Impresiona a tus clientes</h3>
                        <h5>Con nuestras estrategias de contenido, serás el dueño de la conversación en el mercado</h5>
                        <p class="para text-muted mb-0">Nuestros expertos en SEO te brindan una experiencia única y personalizada para destacar en la web y en el mercado</p></div>
                </div>
              </div>
              <!--end col-->
           
              <div class="col-12 mt-4 pt-2">
                <div class="card features fea-primary rounded p-4 bg-light position-relative overflow-hidden border-0">
                    <span class="h1 icon2 text-primary">
                        <i class="uil uil-clock"></i>
                      </span>
                      <div class="card-body p-0 content">
                        <h3>Destaca en el mercado</h3>
                        <h5>Con nuestro posicionamiento SEO, nunca estarás atrás en los resultados de búsqueda</h5>
                        <p class="para text-muted mb-0">En TecnoRía, nos enfocamos en mantenerte siempre al frente y a la vanguardia en el mercado</p>
                    </div>
                </div>
              </div>
      

              <div class="col-12 mt-4 pt-2 text-md-left">
                <a [ngxScrollTo]="'#contacto'" class="btn btn-primary">Más información
                  <i-feather name="arrow-right" class="fea icon-sm"></i-feather>
                </a>
              </div>
              <!--end col-->
            </div>
            <!--end row-->
          </div>
          <!--end col-->
        </div>
        <!--end row-->
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
</section>





<section class="section bg-light">

   

 
    <!--end container-->

    <div class="container mt-100 mt-60">
      <div class="row justify-content-center">
          <div class="col-12">
              <div class="section-title text-center mb-4 pb-2">
                  <h4 class="title mb-4">Soluciones de digitalización para autonomos y empresas</h4>
                  <p class="para-desc mx-auto text-muted mb-0">Todos nuestros planes incluyen <span
                          class="text-primary fw-bold">apertura de cuenta y alta de perfil</span> en una plataforma de Marketplace.</p>
              </div>
          </div>
          <!--end col-->
      </div>
      <!--end row-->

      <div class="row">
          <div class="col-lg-6 col-md-6 mt-4 pt-2 offset-lg-3 offset-md-3">
            <div class="card pricing-rates business-rate border-0 p-4 rounded-md shadow align-items-center">
                <div class="ribbon ribbon-right ribbon-warning overflow-hidden"><span
                        class="text-center d-block shadow small h6">Best</span></div>
                        <div class="card-body p-0">
                          <span
                              class="py-2 px-4 d-inline-block bg-soft-primary h6 mb-0 text-primary rounded-lg">SEO Avanzado</span>
                          <h2 class="fw-bold mb-0 mt-3">Desde 2.000€*</h2>
                          <!-- <p class="text-muted">+ IVA</p> -->
      
                          <p class="text-muted">Solución recomendable para pequeñas y medianas empresas.</p>
      
                          <ul class="list-unstyled pt-3 border-top">
                              <li class="h6 text-muted mb-0">
                                <p class="fw-bold">Importe máximo ayuda.</p>
                              </li>
                              <li class="h7 text-muted mb-0">10-49 empleados: 2.000€ </li>
                              <li class="h7 text-muted mb-0">3-9 empleados: 2.000€ </li>
                              <li class="h7 text-muted mb-0">0-2 empleados: 2.000€ </li>
                              <li class="h6 text-muted mb-0">
                                <p class="fw-bold mt-3 border-top pt-3 text-center">Características.</p>
                              </li>
                              <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i
                                          class="uil uil-check-circle align-middle"></i></span>
                                          Posicionamiento en basico en buscadores. 
                                        </li>
                              <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i
                                          class="uil uil-check-circle align-middle"></i></span>Analisis de palabras clave</li>       
                              <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i
                                          class="uil uil-check-circle align-middle"></i></span><b>Creación de productos y servicios facturables.</b></li>
                              <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i
                                          class="uil uil-check-circle align-middle"></i></span><b>Analisis de competencia</b></li>
                              <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i
                                          class="uil uil-check-circle align-middle"></i></span><b>SEO On-Page</b></li> 
                              <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i
                                          class="uil uil-check-circle align-middle"></i></span><b>SEO Off-Page</b></li>
                              <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i
                                          class="uil uil-check-circle align-middle"></i></span><b>Informes mensuales de seguimiento.</b></li>      
                              <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i
                                          class="uil uil-check-circle align-middle"></i></span><b>Control de vencimiento de las facturas.</b></li>   
                              <li class="h6 text-muted mb-0"><span class="text-primary h5 me-2"><i
                                          class="uil uil-check-circle align-middle"></i></span><b>Cumplimiento de toda la normativa vigente relacionada.</b></li>                         
                          </ul>
      
                          <div class="mt-4">
                              <div class="d-grid">
                                  <button class="btn btn-primary" [ngxScrollTo]="'#contacto'" >Más información</button>
                              </div>
                              <p class="text-muted mt-3 mb-0">Subvencionado hasta 2.000€</p>
                          </div>
                      </div>
            </div>
        </div>
            <!--end col-->

      
        </div>
      <!--end row-->
  </div>
    <!--end container-->
</section>



<section class="section">

    <!-- 
      <div class="container ">
        <app-clients-logo></app-clients-logo>
      </div> -->
      <!--end container-->
    
      <div class="container mb-100 mb-60">
    
        <div class="row justify-content-center">
          <div class="col-12 text-center">
            <div class="section-title mb-4 pb-2">
              <h4 class="title mb-4">Preguntas frecuentes sobre Tecnoria, tu agencia de Google Ads en Galicia</h4>
              <p class="text-muted para-desc mx-auto mb-0">¿Quieres saber más sobre cómo hacemos las cosas en Tecnoria? Hemos reunido algunas preguntas comunes para darte más información sobre Tecnoria y nuestros servicios como empresa de diseño web y marketing en Galicia.</p>
            </div>
          </div>
          <!--end col-->
        </div>
          <!--end col-->
          <div class="row align-items-center">
            <div class="col-md-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
              <div class="faq-content">
                <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0" closeOthers="true">
                  <ngb-panel cardClass="border-0 rounded shadow mb-2">
                    <ng-template ngbPanelTitle>
                      <div class="border-0 bg-light" id="headingone">
                        <h6 class="title mb-0 text-dark"> ¿Cúantos sois en el equipo? </h6>
                      </div>
                    </ng-template>
                    <ng-template ngbPanelContent>
                      <p class="text-muted mb-0 faq-ans">Somos un equipo de profesionales en diseño web y marketing digital, somos un equipo pequeño pero con mucha experiencia y conocimiento en el campo, trabajamos con una metodología ágil y colaborativa para poder ofrecer el mejor servicio a nuestros clientes.</p>
                    </ng-template>
                  </ngb-panel>
                  <ngb-panel cardClass="border-0 rounded shadow mb-2">
                    <ng-template ngbPanelTitle>
                      <div class="border-0 bg-light" id="headingtwo">
                        <h6 class="title mb-0 text-dark"> ¿Ofreceis servicios de copywriting? </h6>
                      </div>
                    </ng-template>
                    <ng-template ngbPanelContent>
                      <p class="text-muted mb-0 faq-ans">Sí, ofrecemos servicios de copywriting para ayudar a nuestros clientes a crear contenido atractivo y efectivo para su sitio web o campañas de marketing. contamos con un equipo de profesionales en redacción, marketing y SEO para garantizar que su mensaje llegue a su audiencia de manera clara y efectiva.</p>
                    </ng-template>
                  </ngb-panel>
                  <ngb-panel cardClass="border-0 rounded shadow mb-2">
                    <ng-template ngbPanelTitle>
                      <div class="border-0 bg-light" id="headingthree">
                        <h6 class="title mb-0 text-dark"> ¿Con que tipo de clientes trabajais? </h6>
                      </div>
                    </ng-template>
                    <ng-template ngbPanelContent>
                      <p class="text-muted mb-0 faq-ans">Trabajamos con todo tipo de clietes ya sean B2B o B2C. Proporcionamos servicios tanto a pequeños negocios o startups así como a empresas ya consolidadas.</p>
                    </ng-template>
                  </ngb-panel>
                  <ngb-panel cardClass="border-0 rounded shadow mb-2">
                    <ng-template ngbPanelTitle>
                      <div class="border-0 bg-light" id="headingfour">
                        <h6 class="title mb-0 text-dark"> ¿En que plataformas estais especializados? </h6>
                      </div>
                    </ng-template>
                    <ng-template ngbPanelContent>
                      <p class="text-muted mb-0 faq-ans">Nuestro equipo de diseñadores web trabaja con multitud de tecnologias, siendo las mas comunes plataformas tan conocidas como WordPress, Wix, Magento entre otras.También ofrecemos soluciones de diseño a medida, empleando lenguajes como Angular y React para el desarrollo de aplicaciones web.</p>
                    </ng-template>
                  </ngb-panel>
                </ngb-accordion>
      
              </div>
            </div>
            <div class="col-md-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
              <div class="faq-content">
                <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0" closeOthers="true">
                  <ngb-panel cardClass="border-0 rounded shadow mb-2">
                    <ng-template ngbPanelTitle>
                      <div class="border-0 bg-light" id="headingone">
                        <h6 class="title mb-0 text-dark"> ¿Qué servicios ofreceis? </h6>
                      </div>
                    </ng-template>
                    <ng-template ngbPanelContent>
                      <p class="text-muted mb-0 faq-ans">En Tecnoria ofrecemos una amplia variedad de servicios de diseño web y marketing digital para ayudar a nuestros clientes a destacar en su mercado e industria. Nuestros servicios incluyen diseño web, desarrollo web, branding, diseño gráfico, posicionamiento web, publicidad en línea y mucho más. Estamos enfocados en ayudar a nuestros clientes a crear una presencia en línea sólida y efectiva para su negocio.</p>
                    </ng-template>
                  </ngb-panel>
                  <ngb-panel cardClass="border-0 rounded shadow mb-2">
                    <ng-template ngbPanelTitle>
                      <div class="border-0 bg-light" id="headingtwo">
                        <h6 class="title mb-0 text-dark"> ¿Cuanto cuesta una página web? </h6>
                      </div>
                    </ng-template>
                    <ng-template ngbPanelContent>
                      <p class="text-muted mb-0 faq-ans">En Tecnoria, entendemos que cada proyecto es único y por lo tanto, cada presupuesto también lo es. El precio de una página web depende de varios factores, como el tamaño y complejidad del sitio, las funcionalidades personalizadas que se requieran, y la integración con otras herramientas o plataformas. En general, podemos decir que nuestros precios para una página web varían desde unos pocos cientos hasta varios miles de euros. Sin embargo, siempre estamos dispuestos a discutir las necesidades específicas de cada cliente y trabajar juntos para encontrar una solución que se ajuste a su presupuesto.</p>
                    </ng-template>
                  </ngb-panel>
                  <ngb-panel cardClass="border-0 rounded shadow mb-2">
                    <ng-template ngbPanelTitle>
                      <div class="border-0 bg-light" id="headingthree">
                        <h6 class="title mb-0 text-dark"> ¿En cuanto tiempo tendría mi web? </h6>
                      </div>
                    </ng-template>
                    <ng-template ngbPanelContent>
                      <p class="text-muted mb-0 faq-ans">En Tecnoria, el tiempo que tardamos en hacer una página web varía dependiendo del proyecto en cuestión. Sin embargo, nuestra meta es siempre entregar el trabajo lo más pronto posible, mientras mantenemos un alto nivel de calidad en nuestros diseños. En promedio, nuestro plazo estándar para entregar una página web es de 4 a 6 semanas. Sin embargo, esto puede variar dependiendo de la complejidad del proyecto y de la disponibilidad de nuestros recursos.</p>
                    </ng-template>
                  </ngb-panel>
                  <ngb-panel cardClass="border-0 rounded shadow mb-2">
                    <ng-template ngbPanelTitle>
                      <div class="border-0 bg-light" id="headingfour">
                        <h6 class="title mb-0 text-dark"> ¿Diseñais tiendas en linea? </h6>
                      </div>
                    </ng-template>
                    <ng-template ngbPanelContent>
                      <p class="text-muted mb-0 faq-ans">Sí, en Tecnoria ofrecemos servicios de desarrollo de tiendas en línea o e-commerce. Empleamos diferentes tecnologías para crear tiendas en línea personalizadas y adaptadas a las necesidades de nuestros clientes. Utilizamos plataformas como Magento, Woocommerce, Shopify y Prestashop, así como también desarrollamos con tecnologías web como HTML, CSS, JavaScript y PHP. Además, nos aseguramos de que nuestras tiendas en línea sean seguras, escalables y fáciles de usar para los clientes.</p>
                    </ng-template>
                  </ngb-panel>
                </ngb-accordion>
      
              </div>
            </div>
          </div>
          
          <!--end col-->
        </div>
        <!--end row-->
    
    
        <!--end row-->
      <!--end container-->
    </section>
    <!--end section-->
    
    
<!-- SECCION DE CONTACTO FINAL -->

<app-form-bottom id="contacto"></app-form-bottom>


   <!-- Subscribe Modal Content Start -->
   <ng-template #Subscribecontent let-modal>
    <div class="modal-content rounded shadow border-0">
      <div class="modal-body p-4" style="background: url('assets/images/illustrator/faq.svg') no-repeat;">
        <button type="button" class="btn-close float-end m-1" aria-label="Close" (click)="modal.dismiss('Cross click')">
        </button>
        <div class="clearfix"></div>
        <div class="container-fluid px-0">
          <div class="row align-items-center g-0">
            <div class="col-lg-6 offset-lg-6">
              <div class="pb-5 pt-4 px-4">
                <h4 >¿Quieres que te llamemos?</h4>

                <h6 class="text-muted">Dejanos tus datos y nos ponemos en contacto</h6>
                <!-- <p class="text-muted mb-0">Subscribe to the Landrick mailing list to receive updates on new
                  arrivals, special offers and our promotions.</p> -->
                <form class="mt-4">
                  <div class="row">

                    <div class="col-lg-12">
                      <div class="foot-subscribe mb-3">
                        <div class="form-icon position-relative">
                          <i-feather name="user" class="fea icon-sm icons"></i-feather>
                          <input type="email" name="name" id="daily-updates"
                            class="form-control ps-5 rounded" placeholder="Nombre : " required>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-12">
                      <div class="foot-subscribe mb-3">
                        <div class="form-icon position-relative">
                          <i-feather name="phone" class="fea icon-sm icons"></i-feather>
                          <input type="mail" name="email" id="daily-updates"
                            class="form-control ps-5 rounded" placeholder="Tlf : " required>
                        </div>
                      </div>
                    </div>
                    
                    <div class="col-lg-12">
                      <div class="foot-subscribe mb-3">
                        <div class="form-icon position-relative">
                          <i-feather name="mail" class="fea icon-sm icons"></i-feather>
                          <input type="mail" name="email" id="daily-updates"
                            class="form-control ps-5 rounded" placeholder="Email : " required>
                        </div>
                      </div>
                    </div>
                    <!--end col-->

                    <div class="col-lg-12">
                      <div class="d-grid">
                        <input type="submit" id="submitsubscribe" name="send" class="btn btn-primary"
                          value="Enviar">
                      </div>
                    </div>
                    <!--end col-->

                    <!-- <div class="col-12">
                      <div class="text-center">
                        <p class="mb-0 mt-3"><small class="text-dark me-2">Already have an account ?</small>
                          <a href="javascript:void(0)" class="text-dark fw-bold">Sign in</a>
                        </p>
                      </div>
                    </div> -->
                    <!--end col-->
                  </div>
                  <!--end row-->
                </form>
              </div>
            </div>
            <!--end col-->
          </div>
          <!--end row-->
        </div>
        <!--end container-->
      </div>
    </div>
  </ng-template>
  <!-- Modal Content End -->