<!-- Hero Start -->
<section class="bg-half bg-light d-table w-100" id="home">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 col-12">
        <div class="title-heading">
          <span class="badge rounded-pill bg-soft-primary"
            >Gestión Digital</span
          >
          <h1 class="fw-bold mt-2 mb-3">
            Factura Electrónica <br />
            Incluido en el Kit Digital
          </h1>
          <p class="para-desc text-muted">
            Automatiza de forma estructurada e ilimitada la facturas de tu
            empresa en formatos estructurados, para facilitar el tratamiento
            automatizado.
          </p>
          <h3 class="fw-bold mt-2 mb-3">
            Servicio subvencionado hasta 1.000€ con el Programa Kit Digital
          </h3>
          <div class="mt-4 pt-2">
            <a [ngxScrollTo]="'#contacto'" class="btn btn-primary me-2"
              ><i class="mdi mdi-email"> </i> Contacta</a
            >
            <a
              (click)="subscribeOpen(Subscribecontent)"
              class="btn btn-outline-primary"
              ><i class="mdi mdi-phone"> </i> Te llamamos</a
            >
          </div>
          <!-- <p class="text-muted mb-0 mt-3">Current Version: v3.0.0</p> -->
        </div>
      </div>
      <!--end col-->

      <div class="col-md-6 mt-4 pt-2 mt-sm-0 pt-sm-0">
        <img
          src="assets/images/hosting/2.png"
          class="img-fluid d-block mx-auto"
          alt=""
        />
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>
<!--end section-->
<!-- Hero End -->

<!-- Shape Start -->
<div class="position-relative">
  <div class="shape overflow-hidden text-white">
    <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z"
        fill="currentColor"
      ></path>
    </svg>
  </div>
</div>
<!--Shape End-->

<section class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <div class="section-title mb-4 pb-2">
          <h4 class="title mb-4">Facturación Electrónica</h4>
          <p class="text-muted para-desc mb-0 mx-auto">
            Gracias a la financiación del
            <span class="text-primary fw-bold">Kit Digital</span> podrás
            facturar en liena de optimizando tiempos, y centralizando todo el
            proceso de facturación.
          </p>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->

    <div class="row">
      <div class="col-lg-3 col-md-4 mt-4 pt-2">
        <div
          class="card features fea-primary rounded p-4 bg-light text-center position-relative overflow-hidden border-0"
        >
          <span class="h1 icon2 text-primary">
            <i class="uil uil-chart-line"></i>
          </span>
          <div class="card-body p-0 content">
            <h5>Formato Estructurado</h5>
            <p class="para text-muted mb-0">
              Formato FACTURA-E, para facilitar el tratamiento automatizado.
            </p>
          </div>
          <span class="big-icon text-center">
            <i class="uil uil-chart-line"></i>
          </span>
        </div>
      </div>
      <!--end col-->

      <div class="col-lg-3 col-md-4 mt-4 pt-2">
        <div
          class="card features fea-primary rounded p-4 bg-light text-center position-relative overflow-hidden border-0"
        >
          <span class="h1 icon2 text-primary">
            <i class="uil uil-crosshairs"></i>
          </span>
          <div class="card-body p-0 content">
            <h5>Factuas Ilimitadas</h5>
            <p class="para text-muted mb-0">
              Emite un numero ilimitado de facturas.
            </p>
          </div>
          <span class="big-icon text-center">
            <i class="uil uil-crosshairs"></i>
          </span>
        </div>
      </div>
      <!--end col-->

      <div class="col-lg-3 col-md-4 mt-4 pt-2">
        <div
          class="card features fea-primary rounded p-4 bg-light text-center position-relative overflow-hidden border-0"
        >
          <span class="h1 icon2 text-primary">
            <i class="uil uil-airplay"></i>
          </span>
          <div class="card-body p-0 content">
            <h5>Clientes Ilimitados</h5>
            <p class="para text-muted mb-0">
              Factura a un número ilimitado de clientes.
            </p>
          </div>
          <span class="big-icon text-center">
            <i class="uil uil-airplay"></i>
          </span>
        </div>
      </div>
      <!--end col-->

      <div class="col-lg-3 col-md-4 mt-4 pt-2">
        <div
          class="card features fea-primary rounded p-4 bg-light text-center position-relative overflow-hidden border-0"
        >
          <span class="h1 icon2 text-primary">
            <i class="uil uil-rocket"></i>
          </span>
          <div class="card-body p-0 content">
            <h5>Productos y Servicios</h5>
            <p class="para text-muted mb-0">
              Podras crear el numero de productos y/o servicios sin
              restricciones.
            </p>
          </div>
          <span class="big-icon text-center">
            <i class="uil uil-rocket"></i>
          </span>
        </div>
      </div>
      <!--end col-->

      <div class="col-lg-3 col-md-4 mt-4 pt-2">
        <div
          class="card features fea-primary rounded p-4 bg-light text-center position-relative overflow-hidden border-0"
        >
          <span class="h1 icon2 text-primary">
            <i class="uil uil-clock"></i>
          </span>
          <div class="card-body p-0 content">
            <h5>E-Mail</h5>
            <p class="para text-muted mb-0">
              Automatiza el envio de facturas y reduce tiempos.
            </p>
          </div>
          <span class="big-icon text-center">
            <i class="uil uil-clock"></i>
          </span>
        </div>
      </div>
      <!--end col-->

      <div class="col-lg-3 col-md-4 mt-4 pt-2">
        <div
          class="card features fea-primary rounded p-4 bg-light text-center position-relative overflow-hidden border-0"
        >
          <span class="h1 icon2 text-primary">
            <i class="uil uil-users-alt"></i>
          </span>
          <div class="card-body p-0 content">
            <h5>Personalizable</h5>
            <p class="para text-muted mb-0">
              Desde la tipografía hasta el logo de tu empresa
            </p>
          </div>
          <span class="big-icon text-center">
            <i class="uil uil-users-alt"></i>
          </span>
        </div>
      </div>
      <!--end col-->

      <div class="col-lg-3 col-md-4 mt-4 pt-2">
        <div
          class="card features fea-primary rounded p-4 bg-light text-center position-relative overflow-hidden border-0"
        >
          <span class="h1 icon2 text-primary">
            <i class="uil uil-file-alt"></i>
          </span>
          <div class="card-body p-0 content">
            <h5>Seguridad</h5>
            <p class="para text-muted mb-0">
              Implementamos las tecnologías necesarias para evitar riesgos y
              amenzas.
            </p>
          </div>
          <span class="big-icon text-center">
            <i class="uil uil-file-alt"></i>
          </span>
        </div>
      </div>
      <!--end col-->

      <div class="col-lg-3 col-md-4 mt-4 pt-2">
        <div
          class="card features fea-primary rounded p-4 bg-light text-center position-relative overflow-hidden border-0"
        >
          <span class="h1 icon2 text-primary">
            <i class="uil uil-search"></i>
          </span>
          <div class="card-body p-0 content">
            <h5>Histórico</h5>
            <p class="para text-muted mb-0">
              Almacena el historial de facturación en la nube.
            </p>
          </div>
          <span class="big-icon text-center">
            <i class="uil uil-search"></i>
          </span>
        </div>
      </div>
      <!--end col-->

      <div class="col-lg-12 text-center col-md-4 mt-4 pt-2">
        <a [ngxScrollTo]="'#contacto'" class="btn btn-primary"
          >Contacta
          <i-feather name="arrow-right" class="fea icon-sm"></i-feather>
        </a>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
</section>

<section class="section">
  <!-- <div class="container  mt-60">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="section-title text-center mb-4 pb-2">
                    <h6 class="text-primary">Quickstart</h6>
                    <h4 class="title mb-4">Awesome isn't it? Let's dive in!</h4>
                    <p class="para-desc mx-auto text-muted mb-0">Start working with <span
                            class="text-primary fw-bold">Landrick</span> that can provide everything you need to
                        generate awareness, drive traffic, connect.</p>
                </div>
            </div> -->
  <!--end col-->
  <!-- </div> -->
  <!--end row-->

  <!--end row-->
  <!-- </div> -->
  <!--end container-->

  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5 col-md-6 order-1 order-md-2">
        <img src="assets/images/integration/1.png" class="img-fluid" alt="" />
      </div>
      <!--end col-->

      <div
        class="col-lg-7 col-md-6 order-2 order-md-1 mt-4 mt-sm-0 pt-2 pt-sm-0"
      >
        <div class="section-title me-lg-5">
          <h4 class="title mb-4">
            Kit Digital <br />
            Principales Ventajas
          </h4>
          <p class="text-muted">
            Nuestro servicio te permite facturar automáticamente según órdenes
            de venta, órdenes de entrega, contratos o tiempo y material, con el
            mínimo esfuerzo. .
          </p>
          <ul class="list-unstyled text-muted">
            <li class="mb-0">
              <span class="text-primary h5 me-2">
                <i class="uil uil-check-circle align-middle"></i>
              </span>
              1GB Almacenamiento/Histórico de facturas.
            </li>
            <li class="mb-0">
              <span class="text-primary h5 me-2">
                <i class="uil uil-check-circle align-middle"></i> </span
              >Control de vencimiento de las facturas.
            </li>
            <li class="mb-0">
              <span class="text-primary h5 me-2">
                <i class="uil uil-check-circle align-middle"></i>
              </span>
              Cumplimiento de la normativa aplicable.
            </li>
          </ul>
          <div class="mt-4">
            <a [ngxScrollTo]="'#contacto'" class="btn btn-primary"
              >Solicitar Bono Digital
              <i-feather name="arrow-right" class="fea icon-sm"></i-feather
            ></a>
          </div>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->

  <div class="container mt-100 mt-60">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="section-title text-center mb-4 pb-2">
          <h4 class="title mb-4">
            Soluciones de digitalización para autonomos y empresas
          </h4>
          <p class="para-desc mx-auto text-muted mb-0">
            Todos nuestros planes incluyen la creación de<span
              class="text-primary fw-bold"
            >
              facturas estructuradas e ilimitadas y personalizables</span
            >
            en formato FACTURA-E.
          </p>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->

    <div class="row">
      <div class="col-lg-6 col-md-6 mt-4 pt-2 offset-lg-3 offset-md-3">
        <div
          class="card pricing-rates business-rate border-0 p-4 rounded-md shadow align-items-center"
        >
          <div class="ribbon ribbon-right ribbon-warning overflow-hidden">
            <span class="text-center d-block shadow small h6">Best</span>
          </div>
          <div class="card-body p-0">
            <span
              class="py-2 px-4 d-inline-block bg-soft-primary h6 mb-0 text-primary rounded-lg"
              >Factura Digital</span
            >
            <!-- <h2 class="fw-bold mb-0 mt-3">Desde 5000€*</h2> -->
            <!-- <p class="text-muted">+ IVA</p> -->

            <p class="text-muted">
              Solución recomendable para pequeñas y medianas empresas.
            </p>

            <ul class="list-unstyled pt-3 border-top">
              <li class="h6 text-muted mb-0">
                <p class="fw-bold">Horas de parametrización incluidas.</p>
              </li>
              <li class="h7 text-muted mb-0">
                10-49 empleados: 1.000€ (hasta 3 usuarios)
              </li>
              <li class="h7 text-muted mb-0">
                3-9 empleados: 1.000€ (hasta 3 usuarios)
              </li>
              <li class="h7 text-muted mb-0">
                0-2 empleados: 500€ (hasta 1 usuario)
              </li>
              <li class="h6 text-muted mb-0">
                <p class="fw-bold mt-3 border-top pt-3 text-center">
                  Características.
                </p>
              </li>
              <li class="h6 text-muted mb-0">
                <span class="text-primary h5 me-2"
                  ><i class="uil uil-check-circle align-middle"></i></span
                >Facturas escturcuraas e ilimitadas
              </li>
              <li class="h6 text-muted mb-0">
                <span class="text-primary h5 me-2"
                  ><i class="uil uil-check-circle align-middle"></i></span
                >Formato FACTURA-E
              </li>
              <li class="h6 text-muted mb-0">
                <span class="text-primary h5 me-2"
                  ><i class="uil uil-check-circle align-middle"></i></span
                ><b>Creación de productos y servicios facturables.</b>
              </li>
              <li class="h6 text-muted mb-0">
                <span class="text-primary h5 me-2"
                  ><i class="uil uil-check-circle align-middle"></i></span
                ><b>Envio por correo electrónico.</b>
              </li>
              <li class="h6 text-muted mb-0">
                <span class="text-primary h5 me-2"
                  ><i class="uil uil-check-circle align-middle"></i></span
                ><b>Copias de seguridad diarias.</b>
              </li>
              <li class="h6 text-muted mb-0">
                <span class="text-primary h5 me-2"
                  ><i class="uil uil-check-circle align-middle"></i></span
                ><b>Almacenamiento e histórico con mas de 1TB</b>
              </li>
              <li class="h6 text-muted mb-0">
                <span class="text-primary h5 me-2"
                  ><i class="uil uil-check-circle align-middle"></i></span
                ><b>Integración con otras herramientas.</b>
              </li>
              <li class="h6 text-muted mb-0">
                <span class="text-primary h5 me-2"
                  ><i class="uil uil-check-circle align-middle"></i></span
                ><b>Control de vencimiento de las facturas.</b>
              </li>
              <li class="h6 text-muted mb-0">
                <span class="text-primary h5 me-2"
                  ><i class="uil uil-check-circle align-middle"></i></span
                ><b>Cumplimiento de toda la normativa vigente relacionada.</b>
              </li>
            </ul>

            <div class="mt-4">
              <div class="d-grid">
                <button class="btn btn-primary" [ngxScrollTo]="'#contacto'">
                  Más información
                </button>
              </div>
              <p class="text-muted mt-3 mb-0">Subvencionado hasta 1.000€</p>
            </div>
          </div>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>

<!-- SECCION DE CONTACTO FINAL -->

<app-form-bottom id="contacto"></app-form-bottom>

<!-- Subscribe Modal Content Start -->
<ng-template #Subscribecontent let-modal>
  <div class="modal-content rounded shadow border-0">
    <div
      class="modal-body p-4"
      style="background: url('assets/images/illustrator/faq.svg') no-repeat"
    >
      <button
        type="button"
        class="btn-close float-end m-1"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
      <div class="clearfix"></div>
      <div class="container-fluid px-0">
        <div class="row align-items-center g-0">
          <div class="col-lg-6 offset-lg-6">
            <div class="pb-5 pt-4 px-4">
              <h4>¿Quieres que te llamemos?</h4>

              <h6 class="text-muted">
                Dejanos tus datos y nos ponemos en contacto
              </h6>
              <!-- <p class="text-muted mb-0">Subscribe to the Landrick mailing list to receive updates on new
                  arrivals, special offers and our promotions.</p> -->
              <form class="mt-4">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="foot-subscribe mb-3">
                      <div class="form-icon position-relative">
                        <i-feather
                          name="user"
                          class="fea icon-sm icons"
                        ></i-feather>
                        <input
                          type="email"
                          name="name"
                          id="daily-updates"
                          class="form-control ps-5 rounded"
                          placeholder="Nombre : "
                          required
                        />
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-12">
                    <div class="foot-subscribe mb-3">
                      <div class="form-icon position-relative">
                        <i-feather
                          name="phone"
                          class="fea icon-sm icons"
                        ></i-feather>
                        <input
                          type="mail"
                          name="email"
                          id="daily-updates"
                          class="form-control ps-5 rounded"
                          placeholder="Tlf : "
                          required
                        />
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-12">
                    <div class="foot-subscribe mb-3">
                      <div class="form-icon position-relative">
                        <i-feather
                          name="mail"
                          class="fea icon-sm icons"
                        ></i-feather>
                        <input
                          type="mail"
                          name="email"
                          id="daily-updates"
                          class="form-control ps-5 rounded"
                          placeholder="Email : "
                          required
                        />
                      </div>
                    </div>
                  </div>
                  <!--end col-->

                  <div class="col-lg-12">
                    <div class="d-grid">
                      <input
                        type="submit"
                        id="submitsubscribe"
                        name="send"
                        class="btn btn-primary"
                        value="Enviar"
                      />
                    </div>
                  </div>
                  <!--end col-->

                  <!-- <div class="col-12">
                      <div class="text-center">
                        <p class="mb-0 mt-3"><small class="text-dark me-2">Already have an account ?</small>
                          <a href="javascript:void(0)" class="text-dark fw-bold">Sign in</a>
                        </p>
                      </div>
                    </div> -->
                  <!--end col-->
                </div>
                <!--end row-->
              </form>
            </div>
          </div>
          <!--end col-->
        </div>
        <!--end row-->
      </div>
      <!--end container-->
    </div>
  </div>
</ng-template>
<!-- Modal Content End -->
