<section class="section bg-light">
  <div class="container ">
    <div class="row pt-md-5 justify-content-center">
      <div class="col-12">
        <div class="section-title text-center mb-4 pb-2">
          <h2 class="title mb-4">Contacta con Nosotros </h2>
          <h4 class="mb-4">Responderemos en el Menor Tiempo Posible</h4>
          <p class="text-muted para-desc mx-auto mb-0">Siempre respondemos a vuestras peticiones y os enviamos una propuesta inicial para que podamos hacer una idea por donde podemos empezar. Según vuestra petición os contactará uno de nuestros expertos en ese campo, para poder realizar esa primera propuesta de la forma más acertada posible. </p>
        </div>
      </div>

      <div class="col-12">
        <div class="custom-form">

          <form [formGroup]="form">
            <div class="row">
              <div class="col-lg-6 col-sm-12">
                <div class="mb-3">
                  <label for="name" class="form-label">Nombre Completo</label>
                  <div class="form-icon position-relative">
                    <i-feather class="fea icon-sm icons" name="user"></i-feather>
                    <input 
                          type="text" 
                          name="name" 
                          id="name" 
                          placeholder="Nombre Completo" 
                          class="form-control ps-5"
                          formControlName="name"
                          required
                          [ngClass]="{ 'is-invalid': form.get('name').invalid && form.get('name').touched }"
                          >
                          <div class="invalid-feedback" *ngIf="form.get('name').invalid && form.get('name').touched">
                            <div *ngIf="form.get('name').errors.required">
                              Introduce tu nombre.
                            </div>
                          </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-sm-12">
                <div class="mb-3">
                  <label for="empresa" class="form-label">Empresa</label>
                  <div class="form-icon position-relative">
                    <i-feather class="fea icon-sm icons" name="user"></i-feather>
                    <input 
                          type="text" 
                          name="empresa" 
                          id="empresa" 
                          placeholder="Empresa" 
                          class="form-control ps-5"
                          formControlName="empresa"
                          required
                          [ngClass]="{ 'is-invalid': form.get('empresa').invalid && form.get('empresa').touched }"
                          >

                          <div class="invalid-feedback" *ngIf="form.get('empresa').invalid && form.get('empresa').touched">
                            <div *ngIf="form.get('empresa').errors.required">
                              Introduce tu empresa.
                            </div>
                          </div>
   
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-sm-12">
                <div class="mb-3">
                  <label for="email" class="form-label">Email de Contacto</label>
                  <div class="form-icon position-relative">
                    <i-feather class="fea icon-sm icons" name="mail"></i-feather>
                    <input 
                          type="text" 
                          name="email" 
                          id="name" 
                          placeholder="Email" 
                          class="form-control ps-5" 
                          formControlName="email" 
                          required
                          [ngClass]="{ 'is-invalid': form.get('email').invalid && form.get('email').touched }"
                          >

                    <div class="invalid-feedback" *ngIf="form.get('email').invalid && form.get('email').touched">
                      <div *ngIf="form.get('email').errors.required">
                        El Email es requerido.
                    </div>

                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6  col-sm-12">
                <div class="mb-3">
                  <label for="phone" class="form-label">Teléfono de Contacto</label>
                  <div class="form-icon position-relative">
                    <i-feather class="fea icon-sm icons" name="phone"></i-feather>
                    <input 
                          type="text" 
                          name="phone" 
                          id="phone" 
                          placeholder="Telefono" 
                          class="form-control ps-5" 
                          formControlName="phone" 
                          required
                          [ngClass]="{ 'is-invalid': form.get('phone').invalid && form.get('phone').touched }"
                          >
                        <div class="invalid-feedback" *ngIf="form.get('phone').invalid && form.get('phone').touched">
                          <div *ngIf="form.get('phone').errors.required">
                           Teléfono requerido.
                          </div>
                        </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="mb-3">
                  <label for="name" class="form-label">¿Qué servicio estas buscando?</label>
                    <div class="form-icon position-relative" ngbDropdown>
                      <i-feather class="fea icon-sm icons" name="menu"></i-feather>
                      <select  class="form-control ps-5"  name="service1" formControlName="service1" (change)="selectOption($event.target.value)">
                       <option value="" selected hidden>Selecciona un servicio</option>
                       <option  *ngFor="let items of servicio" class="dropdown-item" value="{{items}}">{{items}}</option >
                    </select>
                  </div>
                </div>
              </div>
            </div>


            <div class="row" *ngIf="servicio_seleccionado !== ''">
              <div class="col-12">
                <div class="mb-3">
                  <label for="name" class="form-label">¿Algo más específico?</label>
                    <div class="form-icon position-relative">
                      <i-feather class="fea icon-sm icons" name="menu"></i-feather>
                      <select  class="form-control ps-5"  name="service2" formControlName="service2">
                        <option value="" selected hidden>Selecciona un servicio</option>
                         <option  *ngFor="let items of sub_servicio" class="dropdown-item"  value="{{items}}" >{{items}}</option >
                      </select>
                    </div>
              </div>
            </div>
          </div>

            <div class="row">
              <div class="col-12">
                <div class="mb-3">
                  <label for="name" class="form-label">Cuentanos más sobre tu proyecto</label>
                  <div class="form-icon position-relative">
                    <i-feather class="fea icon-sm icons" name="edit-2"></i-feather>
                    <textarea type="text" name="message" id="name" placeholder="Cuentanos todo lo que creas necesario sobre tu proyecto" class="form-control ps-5" formControlName="message"></textarea>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="d-grid">
                  <button type="submit" id="submit" name="send" class="btn btn-primary" (click)="sendEmail()" [disabled]="form.invalid"  >Enviar Mensaje</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->

  </div>
</section>